
/* CSS Reset */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  transition: all 0.3s ease; /* Smooth transitions */
  scroll-behavior: smooth; /* Smooth scrolling for anchored links */
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  text-decoration: none; /* no underline */
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Added universal animations for better UI feedback */
*, *::before, *::after {
  transition: all 0.3s ease; /* Catch-all transition */
}



@media only screen and (min-width:20rem) {
.contain {
    margin:auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    }
}
@media only screen and (min-width:30rem) {
.contain {
    margin:auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    }
}
@media only screen and (min-width:40rem) {
.contain {
    margin:auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    }
}
@media only screen and (min-width:48rem) {
.contain {
    margin:auto;
    padding-left: 2rem;
    padding-right: 2rem;
    }
}
@media only screen and (min-width:64rem) {
.contain {
    margin:auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    }
}
@media only screen and (min-width:80rem) {
.contain {
    margin:auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    }
}
@media only screen and (min-width:96rem) {
.contain {
    margin:auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    }
}
@media only screen and (min-width:120rem) {
.contain {
    margin:auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    }
}
@media only screen and (min-width:160rem) {
.contain {
    margin:auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    }
}
@media only screen and (min-width:240rem) {
.contain {
    margin:auto;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    }
}

.events\:none,  .events\:none {
pointer-events: none;
}

.z\:1,  .z\:1 {
z-index: 1;
}

.bg-color\:white,  .bg-color\:white {
background-color: #F7F7F7;
}

.relative,  .relative {
position: relative;
}

.opacity\:0\.95,  .opacity\:0\.95 {
opacity: 0.95;
}

.z\:0\.0,  .z\:0\.0 {
z-index: 0;
}

.left\:0,  .left\:0 {
left: 0;
}

.top\:0,  .top\:0 {
top: 0;
}

.h\:full,  .h\:full {
height: 100%;
}

.w\:full,  .w\:full {
width: 100%;
}

.absolute,  .absolute {
position: absolute;
}

.ctx\:blogPage.bd\:round-d2, .ctx\:blogPage .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:blogPage.aspect\:square, .ctx\:blogPage .aspect\:square {
aspect-ratio: 1/1;
}

.ctx\:blogPage.font\:h6, .ctx\:blogPage .font\:h6 {
font-size: 1.125rem;
}

.ctx\:blogPage.w\:s5, .ctx\:blogPage .w\:s5 {
width: 40rem;
}

.ctx\:blogPage.row\:x-center, .ctx\:blogPage .row\:x-center {
display:flex;
flex-direction:row;
justify-content: center;
}

.ctx\:blogPage.hidden, .ctx\:blogPage .hidden {
display: none;
}

.ctx\:blogPage.font\:regular\:sans\:h6, .ctx\:blogPage .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:blogPage.text\:essay, .ctx\:blogPage .text\:essay {
max-width: 75ch;
}

.ctx\:blogPage.contain, .ctx\:blogPage .contain {

}

.ctx\:blogPage.events\:none, .ctx\:blogPage .events\:none {
pointer-events: none;
}

.ctx\:blogPage.z\:1, .ctx\:blogPage .z\:1 {
z-index: 1;
}

.ctx\:blogPage.relative, .ctx\:blogPage .relative {
position: relative;
}

.ctx\:blogPage.opacity\:0\.95, .ctx\:blogPage .opacity\:0\.95 {
opacity: 0.95;
}

.ctx\:blogPage.z\:0\.0, .ctx\:blogPage .z\:0\.0 {
z-index: 0;
}

.ctx\:blogPage.left\:0, .ctx\:blogPage .left\:0 {
left: 0;
}

.ctx\:blogPage.top\:0, .ctx\:blogPage .top\:0 {
top: 0;
}

.ctx\:blogPage.h\:full, .ctx\:blogPage .h\:full {
height: 100%;
}

.ctx\:blogPage.w\:full, .ctx\:blogPage .w\:full {
width: 100%;
}

.ctx\:blogPage.absolute, .ctx\:blogPage .absolute {
position: absolute;
}

.ctx\:signature.h\:auto, .ctx\:signature .h\:auto {
height: auto;
}

.ctx\:signature.w\:d12, .ctx\:signature .w\:d12 {
width: 3rem;
}

.ctx\:signature.font\:regular\:sans\:h6, .ctx\:signature .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:signature.text\:left\:spacious\:grey, .ctx\:signature .text\:left\:spacious\:grey {
text-align: left;
line-height: 1.7;
color: #8D8D8D;
}

.ctx\:signature.pd-b\:d10, .ctx\:signature .pd-b\:d10 {
padding-bottom: 2.5rem;
}

.ctx\:signature.pd-t\:d6, .ctx\:signature .pd-t\:d6 {
padding-top: 1.5rem;
}

.ctx\:signature.col\:x-start\:y-center, .ctx\:signature .col\:x-start\:y-center {
display:flex;
flex-direction:column;
align-items: flex-start;
justify-content: center;
}

.ctx\:signature.w\:full, .ctx\:signature .w\:full {
width: 100%;
}

.ctx\:quote.text\:grey, .ctx\:quote .text\:grey {
color: #8D8D8D;
}

.ctx\:quote.font\:sans\:regular\:h6, .ctx\:quote .font\:sans\:regular\:h6 {
font-family: Open Sans, sans-serif;
font-weight: 400;
font-size: 1.125rem;
}

.ctx\:quote.mg-b\:d2, .ctx\:quote .mg-b\:d2 {
margin-bottom: 0.5rem;
}

.ctx\:quote.text\:black, .ctx\:quote .text\:black {
color: #0b0b0b;
}

.ctx\:quote.font\:sans\:semibold\:h6, .ctx\:quote .font\:sans\:semibold\:h6 {
font-family: Open Sans, sans-serif;
font-weight: 600;
font-size: 1.125rem;
}

.ctx\:quote.mg-b\:d6, .ctx\:quote .mg-b\:d6 {
margin-bottom: 1.5rem;
}

.ctx\:quote.font\:sans\:regular\:h5, .ctx\:quote .font\:sans\:regular\:h5 {
font-family: Open Sans, sans-serif;
font-weight: 400;
font-size: 1.5rem;
}

.ctx\:quote.pd-l\:c1, .ctx\:quote .pd-l\:c1 {
padding-left: 4rem;
}

.ctx\:quote.bd-l\:solid\:width-d1\:gold, .ctx\:quote .bd-l\:solid\:width-d1\:gold {
border-left-style: solid;
border-left-width: 0.25rem;
border-left-color: #B1740F;
}

.ctx\:quote.block, .ctx\:quote .block {
display: block;
}

.ctx\:quote.w\:full, .ctx\:quote .w\:full {
width: 100%;
}

.ctx\:quote.pd-y\:c1, .ctx\:quote .pd-y\:c1 {
padding-top: 4rem;
padding-bottom: 4rem;
}

.font\:regular\:sans\:h6,  .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.text\:left\:spacious\:grey,  .text\:left\:spacious\:grey {
text-align: left;
line-height: 1.7;
color: #8D8D8D;
}

.pd-y\:d4,  .pd-y\:d4 {
padding-top: 1rem;
padding-bottom: 1rem;
}

.pd-b\:c2,  .pd-b\:c2 {
padding-bottom: 4.5rem;
}

.bd-b\:solid\:width-d0\:gold25,  .bd-b\:solid\:width-d0\:gold25 {
border-bottom-style: solid;
border-bottom-width: 0.125rem;
border-bottom-color: rgba(181, 141, 94, 0.25);
}

.text\:left\:loose\:lightgrey,  .text\:left\:loose\:lightgrey {
text-align: left;
line-height: 1.6;
color: #BABABA;
}

.bd\:round-d2,  .bd\:round-d2 {
border-radius: 0.5rem;
}

.aspect\:square,  .aspect\:square {
aspect-ratio: 1/1;
}

.font\:h6,  .font\:h6 {
font-size: 1.125rem;
}

.text\:full,  .text\:full {
max-width: 80ch;
}

.pd-y\:d6,  .pd-y\:d6 {
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}

.font\:semibold\:fancy\:h3,  .font\:semibold\:fancy\:h3 {
font-weight: 600;
font-family: Caviar, sans-serif;
font-size: 3rem;
}

.text\:left\:loose\:black,  .text\:left\:loose\:black {
text-align: left;
line-height: 1.6;
color: #0b0b0b;
}

.pd-b\:d8,  .pd-b\:d8 {
padding-bottom: 2rem;
}

.pd-t\:c2,  .pd-t\:c2 {
padding-top: 4.5rem;
}

.aspect\:landscape,  .aspect\:landscape {
aspect-ratio: 16/10;
}

.sticky,  .sticky {
position: sticky;
}

.bg-color\:gold,  .bg-color\:gold {
background-color: #B1740F;
}

.h\:d1,  .h\:d1 {
height: 0.25rem;
}

.z\:3,  .z\:3 {
z-index: 3;
}

.mg-t\:d8,  .mg-t\:d8 {
margin-top: 2rem;
}

.text\:white\:hug\:center,  .text\:white\:hug\:center {
color: #F7F7F7;
line-height: 1.2;
text-align: center;
}

.font\:fancy\:bold\:base,  .font\:fancy\:bold\:base {
font-family: Caviar, sans-serif;
font-weight: 700;
font-size: 1rem;
}

.text\:white\:relaxed\:center,  .text\:white\:relaxed\:center {
color: #F7F7F7;
line-height: 1.5;
text-align: center;
}

.font\:fancy\:thin\:h5,  .font\:fancy\:thin\:h5 {
font-family: Caviar, sans-serif;
font-weight: 100;
font-size: 1.5rem;
}

.col\:x-center\:y-center,  .col\:x-center\:y-center {
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
}

.bd\:solid\:width-d0\:gold95,  .bd\:solid\:width-d0\:gold95 {
border-style: solid;
border-width: 0.125rem;
border-color: rgba(181, 141, 94, 0.95);
}

.pd\:d10,  .pd\:d10 {
padding-top: 2.5rem;
padding-left: 2.5rem;
padding-right: 2.5rem;
padding-bottom: 2.5rem;
}

.row\:x-center\:y-center,  .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.z\:5,  .z\:5 {
z-index: 5;
}

.ctx\:Marquee.h\:full, .ctx\:Marquee .h\:full {
height: 100%;
}

.ctx\:Marquee.w\:full, .ctx\:Marquee .w\:full {
width: 100%;
}

.ctx\:Marquee.z\:2, .ctx\:Marquee .z\:2 {
z-index: 2;
}

.ctx\:Marquee.top\:0, .ctx\:Marquee .top\:0 {
top: 0;
}

.ctx\:Marquee.bd\:round-d2, .ctx\:Marquee .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:Marquee.row\:x-center\:y-center, .ctx\:Marquee .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.ctx\:Marquee.bg-attr\:no-repeat\:cover\:center, .ctx\:Marquee .bg-attr\:no-repeat\:cover\:center {
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.ctx\:Marquee.h\:s3, .ctx\:Marquee .h\:s3 {
height: 32rem;
}

.ctx\:Marquee.z\:0, .ctx\:Marquee .z\:0 {
z-index: 0;
}

.ctx\:Marquee.relative, .ctx\:Marquee .relative {
position: relative;
}

.ctx\:Marquee.mg-b\:c6, .ctx\:Marquee .mg-b\:c6 {
margin-bottom: 7rem;
}

.ctx\:Marquee.events\:auto, .ctx\:Marquee .events\:auto {
pointer-events: auto;
}

.ctx\:smallSpaceNo.pd-y\:d8, .ctx\:smallSpaceNo .pd-y\:d8 {
padding-top: 2rem;
padding-bottom: 2rem;
}

.ctx\:smallSpaceCollapse.pd-y\:d0, .ctx\:smallSpaceCollapse .pd-y\:d0 {
padding-top: 0.125rem;
padding-bottom: 0.125rem;
}

.bd-b\:solid\:width-d0\:gold,  .bd-b\:solid\:width-d0\:gold {
border-bottom-style: solid;
border-bottom-width: 0.125rem;
border-bottom-color: #B1740F;
}

.h\:c2,  .h\:c2 {
height: 4.5rem;
}

.ctx\:mediumSpaceNo.pd-y\:d8, .ctx\:mediumSpaceNo .pd-y\:d8 {
padding-top: 2rem;
padding-bottom: 2rem;
}

.ctx\:mediumSpaceCollapse.pd-y\:d0, .ctx\:mediumSpaceCollapse .pd-y\:d0 {
padding-top: 0.125rem;
padding-bottom: 0.125rem;
}

.ctx\:largeSpaceNo.h\:auto, .ctx\:largeSpaceNo .h\:auto {
height: auto;
}

.ctx\:largeSpaceNo.pd-y\:c2, .ctx\:largeSpaceNo .pd-y\:c2 {
padding-top: 4.5rem;
padding-bottom: 4.5rem;
}

.ctx\:largeSpaceCollapse.pd-y\:d0, .ctx\:largeSpaceCollapse .pd-y\:d0 {
padding-top: 0.125rem;
padding-bottom: 0.125rem;
}

.ctx\:quoteAlt.text\:grey, .ctx\:quoteAlt .text\:grey {
color: #8D8D8D;
}

.ctx\:quoteAlt.font\:sans\:regular\:h6, .ctx\:quoteAlt .font\:sans\:regular\:h6 {
font-family: Open Sans, sans-serif;
font-weight: 400;
font-size: 1.125rem;
}

.ctx\:quoteAlt.mg-b\:d2, .ctx\:quoteAlt .mg-b\:d2 {
margin-bottom: 0.5rem;
}

.ctx\:quoteAlt.text\:black, .ctx\:quoteAlt .text\:black {
color: #0b0b0b;
}

.ctx\:quoteAlt.font\:sans\:semibold\:h6, .ctx\:quoteAlt .font\:sans\:semibold\:h6 {
font-family: Open Sans, sans-serif;
font-weight: 600;
font-size: 1.125rem;
}

.ctx\:quoteAlt.mg-b\:d6, .ctx\:quoteAlt .mg-b\:d6 {
margin-bottom: 1.5rem;
}

.ctx\:quoteAlt.font\:sans\:regular\:h5, .ctx\:quoteAlt .font\:sans\:regular\:h5 {
font-family: Open Sans, sans-serif;
font-weight: 400;
font-size: 1.5rem;
}

.ctx\:quoteAlt.pd-l\:c1, .ctx\:quoteAlt .pd-l\:c1 {
padding-left: 4rem;
}

.ctx\:quoteAlt.bd-l\:solid\:width-d1\:gold, .ctx\:quoteAlt .bd-l\:solid\:width-d1\:gold {
border-left-style: solid;
border-left-width: 0.25rem;
border-left-color: #B1740F;
}

.ctx\:quoteAlt.block, .ctx\:quoteAlt .block {
display: block;
}

.ctx\:quoteAlt.w\:full, .ctx\:quoteAlt .w\:full {
width: 100%;
}

.ctx\:quoteAlt.pd-y\:c1, .ctx\:quoteAlt .pd-y\:c1 {
padding-top: 4rem;
padding-bottom: 4rem;
}

.ctx\:quoteAlt.font\:regular\:sans\:h6, .ctx\:quoteAlt .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:quoteAlt.text\:essay, .ctx\:quoteAlt .text\:essay {
max-width: 75ch;
}

.ctx\:quoteAlt.row\:x-end, .ctx\:quoteAlt .row\:x-end {
display:flex;
flex-direction:row;
justify-content: flex-end;
}

.contain,  .contain {

}

.ctx\:paragraphAlt.font\:regular\:sans\:h6, .ctx\:paragraphAlt .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:paragraphAlt.text\:left\:spacious\:grey, .ctx\:paragraphAlt .text\:left\:spacious\:grey {
text-align: left;
line-height: 1.7;
color: #8D8D8D;
}

.ctx\:paragraphAlt.pd-y\:d4, .ctx\:paragraphAlt .pd-y\:d4 {
padding-top: 1rem;
padding-bottom: 1rem;
}

.ctx\:paragraphAlt.text\:essay, .ctx\:paragraphAlt .text\:essay {
max-width: 75ch;
}

.ctx\:paragraphAlt.row\:x-end, .ctx\:paragraphAlt .row\:x-end {
display:flex;
flex-direction:row;
justify-content: flex-end;
}

.text\:white\:relaxed\:center\:blob,  .text\:white\:relaxed\:center\:blob {
color: #F7F7F7;
line-height: 1.5;
text-align: center;
max-width: 35ch;
}

.pd\:c2,  .pd\:c2 {
padding-top: 4.5rem;
padding-left: 4.5rem;
padding-right: 4.5rem;
padding-bottom: 4.5rem;
}

.z\:2,  .z\:2 {
z-index: 2;
}

.bg-attr\:no-repeat\:cover\:center,  .bg-attr\:no-repeat\:cover\:center {
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.h\:s5,  .h\:s5 {
height: 40rem;
}

.z\:0,  .z\:0 {
z-index: 0;
}

.pd-y\:d8,  .pd-y\:d8 {
padding-top: 2rem;
padding-bottom: 2rem;
}

.font\:sans\:medium\:h6,  .font\:sans\:medium\:h6 {
font-family: Open Sans, sans-serif;
font-weight: 500;
font-size: 1.125rem;
}

.text\:white75OP,  .text\:white75OP {
color: rgba(255, 255, 255, 0.75);
}

.bd-b\:solid\:width-d0\:white50OP,  .bd-b\:solid\:width-d0\:white50OP {
border-bottom-style: solid;
border-bottom-width: 0.125rem;
border-bottom-color: rgba(255, 255, 255, 0.045);
}

.font\:sans,  .font\:sans {
font-family: Open Sans, sans-serif;
}

.text\:lightgrey,  .text\:lightgrey {
color: #BABABA;
}

.text\:white,  .text\:white {
color: #F7F7F7;
}

.font\:h4\:fancy\:bold,  .font\:h4\:fancy\:bold {
font-size: 2.25rem;
font-family: Caviar, sans-serif;
font-weight: 700;
}

.mg-b\:d8,  .mg-b\:d8 {
margin-bottom: 2rem;
}

.col\:x-start,  .col\:x-start {
display:flex;
flex-direction:column;
align-items: flex-start;
}

.mg\:d4,  .mg\:d4 {
margin-top: 1rem;
margin-left: 1rem;
margin-right: 1rem;
margin-bottom: 1rem;
}

.right\:0,  .right\:0 {
right: 0;
}

.events\:auto,  .events\:auto {
pointer-events: auto;
}

.col\:y-center\:x-center,  .col\:y-center\:x-center {
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
}

.z\:10000,  .z\:10000 {
z-index: 10000;
}

.hidden,  .hidden {
display: none;
}

.ctx\:mobileButton.pd-l\:d3, .ctx\:mobileButton .pd-l\:d3 {
padding-left: 0.75rem;
}

.ctx\:mobileButton.row\:x-center\:y-center, .ctx\:mobileButton .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.ctx\:mobileButton.h\:c3, .ctx\:mobileButton .h\:c3 {
height: 5rem;
}

.ctx\:mobileButton.w\:c1, .ctx\:mobileButton .w\:c1 {
width: 4rem;
}

.ctx\:mobileButton.bd\:roundbl-s6, .ctx\:mobileButton .bd\:roundbl-s6 {
border-bottom-left-radius: 48rem;
}

.ctx\:mobileButton.right\:0, .ctx\:mobileButton .right\:0 {
right: 0;
}

.ctx\:mobileButton.top\:0, .ctx\:mobileButton .top\:0 {
top: 0;
}

.ctx\:mobileButton.absolute, .ctx\:mobileButton .absolute {
position: absolute;
}

.ctx\:mobileButton.z\:1000, .ctx\:mobileButton .z\:1000 {
z-index: 1000;
}

.ctx\:mobileButton.visible, .ctx\:mobileButton .visible {
visibility: visible;
}

.ctx\:mobileButton.events\:auto, .ctx\:mobileButton .events\:auto {
pointer-events: auto;
}

.ctx\:navigationHero.font\:h5, .ctx\:navigationHero .font\:h5 {
font-size: 1.5rem;
}

.ctx\:navigationHero.text\:gold50, .ctx\:navigationHero .text\:gold50 {
color: rgba(181, 141, 94, 0.50);
}

.ctx\:navigationHero.\@hover\:\[text\:gold50\]:hover, .ctx\:navigationHero .\@hover\:\[text\:gold50\]:hover {
color: rgba(181, 141, 94, 0.50);
}

.ctx\:navigationHero.transition\:ease, .ctx\:navigationHero .transition\:ease {
transition: all 0.3s ease;
}

.ctx\:navigationHero.font\:sans\:semibold, .ctx\:navigationHero .font\:sans\:semibold {
font-family: Open Sans, sans-serif;
font-weight: 600;
}

.ctx\:navigationHero.text\:white, .ctx\:navigationHero .text\:white {
color: #F7F7F7;
}

.ctx\:navigationHero.gap\:c2, .ctx\:navigationHero .gap\:c2 {
gap: 4.5rem;
}

.ctx\:navigationHero.row\:y-center, .ctx\:navigationHero .row\:y-center {
display:flex;
flex-direction:row;
align-items: center;
}

.ctx\:navigationHero.font\:sans, .ctx\:navigationHero .font\:sans {
font-family: Open Sans, sans-serif;
}

.ctx\:navigationHero.text\:lightgrey, .ctx\:navigationHero .text\:lightgrey {
color: #BABABA;
}

.ctx\:navigationHero.font\:h4\:fancy\:bold, .ctx\:navigationHero .font\:h4\:fancy\:bold {
font-size: 2.25rem;
font-family: Caviar, sans-serif;
font-weight: 700;
}

.ctx\:navigationHero.pd-y\:d7, .ctx\:navigationHero .pd-y\:d7 {
padding-top: 1.75rem;
padding-bottom: 1.75rem;
}

.ctx\:navigationHero.bd-b\:solid\:width-d0\:gold50, .ctx\:navigationHero .bd-b\:solid\:width-d0\:gold50 {
border-bottom-style: solid;
border-bottom-width: 0.125rem;
border-bottom-color: rgba(181, 141, 94, 0.50);
}

.ctx\:navigationHero.bd-t\:solid\:width-d0\:gold50, .ctx\:navigationHero .bd-t\:solid\:width-d0\:gold50 {
border-top-style: solid;
border-top-width: 0.125rem;
border-top-color: rgba(181, 141, 94, 0.50);
}

.ctx\:navigationHero.w\:full, .ctx\:navigationHero .w\:full {
width: 100%;
}

.ctx\:navigationHero.hidden, .ctx\:navigationHero .hidden {
display: none;
}

.ctx\:navigationHero.top\:0, .ctx\:navigationHero .top\:0 {
top: 0;
}

.ctx\:navigationHero.absolute, .ctx\:navigationHero .absolute {
position: absolute;
}

.ctx\:navigationHero.z\:1, .ctx\:navigationHero .z\:1 {
z-index: 1;
}

.ctx\:navigationHero.pd-t\:c8, .ctx\:navigationHero .pd-t\:c8 {
padding-top: 8rem;
}

.ctx\:navigationHero.contain, .ctx\:navigationHero .contain {

}

.ctx\:navigationHero.events\:auto, .ctx\:navigationHero .events\:auto {
pointer-events: auto;
}

.ctx\:mobileButton.bg-color\:white, .ctx\:mobileButton .bg-color\:white {
background-color: #F7F7F7;
}

.ctx\:mobileButton.h\:hScreen, .ctx\:mobileButton .h\:hScreen {
height: 100vh;
}

.ctx\:mobileButton.w\:wScreen, .ctx\:mobileButton .w\:wScreen {
width: 100vw;
}

.font\:sans\:h6,  .font\:sans\:h6 {
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.mg-b\:d4,  .mg-b\:d4 {
margin-bottom: 1rem;
}

.font\:h3\:fancy\:bold,  .font\:h3\:fancy\:bold {
font-size: 3rem;
font-family: Caviar, sans-serif;
font-weight: 700;
}

.ctx\:navigationDesk.font\:h5, .ctx\:navigationDesk .font\:h5 {
font-size: 1.5rem;
}

.ctx\:navigationDesk.text\:gold50, .ctx\:navigationDesk .text\:gold50 {
color: rgba(181, 141, 94, 0.50);
}

.ctx\:navigationDesk.\@hover\:\[text\:gold50\]:hover, .ctx\:navigationDesk .\@hover\:\[text\:gold50\]:hover {
color: rgba(181, 141, 94, 0.50);
}

.ctx\:navigationDesk.transition\:ease, .ctx\:navigationDesk .transition\:ease {
transition: all 0.3s ease;
}

.ctx\:navigationDesk.font\:sans\:semibold, .ctx\:navigationDesk .font\:sans\:semibold {
font-family: Open Sans, sans-serif;
font-weight: 600;
}

.ctx\:navigationDesk.text\:black, .ctx\:navigationDesk .text\:black {
color: #0b0b0b;
}

.ctx\:navigationDesk.gap\:c2, .ctx\:navigationDesk .gap\:c2 {
gap: 4.5rem;
}

.ctx\:navigationDesk.row\:y-center, .ctx\:navigationDesk .row\:y-center {
display:flex;
flex-direction:row;
align-items: center;
}

.ctx\:navigationDesk.font\:sans, .ctx\:navigationDesk .font\:sans {
font-family: Open Sans, sans-serif;
}

.ctx\:navigationDesk.text\:lightgrey, .ctx\:navigationDesk .text\:lightgrey {
color: #BABABA;
}

.ctx\:navigationDesk.font\:h4\:fancy\:bold, .ctx\:navigationDesk .font\:h4\:fancy\:bold {
font-size: 2.25rem;
font-family: Caviar, sans-serif;
font-weight: 700;
}

.ctx\:navigationDesk.pd-y\:d7, .ctx\:navigationDesk .pd-y\:d7 {
padding-top: 1.75rem;
padding-bottom: 1.75rem;
}

.ctx\:navigationDesk.bd-b\:solid\:width-d0\:gold50, .ctx\:navigationDesk .bd-b\:solid\:width-d0\:gold50 {
border-bottom-style: solid;
border-bottom-width: 0.125rem;
border-bottom-color: rgba(181, 141, 94, 0.50);
}

.ctx\:navigationDesk.bd-t\:solid\:width-d0\:gold50, .ctx\:navigationDesk .bd-t\:solid\:width-d0\:gold50 {
border-top-style: solid;
border-top-width: 0.125rem;
border-top-color: rgba(181, 141, 94, 0.50);
}

.ctx\:navigationDesk.w\:full, .ctx\:navigationDesk .w\:full {
width: 100%;
}

.ctx\:navigationDesk.hidden, .ctx\:navigationDesk .hidden {
display: none;
}

.ctx\:marqueeWide.z\:3, .ctx\:marqueeWide .z\:3 {
z-index: 3;
}

.ctx\:marqueeWide.mg-t\:d8, .ctx\:marqueeWide .mg-t\:d8 {
margin-top: 2rem;
}

.ctx\:marqueeWide.text\:white\:hug\:center, .ctx\:marqueeWide .text\:white\:hug\:center {
color: #F7F7F7;
line-height: 1.2;
text-align: center;
}

.ctx\:marqueeWide.font\:fancy\:bold\:h6, .ctx\:marqueeWide .font\:fancy\:bold\:h6 {
font-family: Caviar, sans-serif;
font-weight: 700;
font-size: 1.125rem;
}

.ctx\:marqueeWide.text\:brief, .ctx\:marqueeWide .text\:brief {
max-width: 45ch;
}

.ctx\:marqueeWide.text\:white\:relaxed\:center, .ctx\:marqueeWide .text\:white\:relaxed\:center {
color: #F7F7F7;
line-height: 1.5;
text-align: center;
}

.ctx\:marqueeWide.font\:fancy\:thin\:h4, .ctx\:marqueeWide .font\:fancy\:thin\:h4 {
font-family: Caviar, sans-serif;
font-weight: 100;
font-size: 2.25rem;
}

.ctx\:marqueeWide.col\:x-center\:y-center, .ctx\:marqueeWide .col\:x-center\:y-center {
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
}

.ctx\:marqueeWide.h\:full, .ctx\:marqueeWide .h\:full {
height: 100%;
}

.ctx\:marqueeWide.w\:full, .ctx\:marqueeWide .w\:full {
width: 100%;
}

.ctx\:marqueeWide.pd\:c2, .ctx\:marqueeWide .pd\:c2 {
padding-top: 4.5rem;
padding-left: 4.5rem;
padding-right: 4.5rem;
padding-bottom: 4.5rem;
}

.ctx\:marqueeWide.row\:x-center\:y-center, .ctx\:marqueeWide .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.ctx\:marqueeWide.z\:5, .ctx\:marqueeWide .z\:5 {
z-index: 5;
}

.ctx\:marqueeWide.absolute, .ctx\:marqueeWide .absolute {
position: absolute;
}

.ctx\:marqueeWide.z\:2, .ctx\:marqueeWide .z\:2 {
z-index: 2;
}

.ctx\:marqueeWide.top\:0, .ctx\:marqueeWide .top\:0 {
top: 0;
}

.ctx\:marqueeWide.bg-attr\:no-repeat\:cover\:center, .ctx\:marqueeWide .bg-attr\:no-repeat\:cover\:center {
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.ctx\:marqueeWide.h\:s5, .ctx\:marqueeWide .h\:s5 {
height: 40rem;
}

.ctx\:marqueeWide.z\:0, .ctx\:marqueeWide .z\:0 {
z-index: 0;
}

.ctx\:marqueeWide.relative, .ctx\:marqueeWide .relative {
position: relative;
}

.ctx\:marqueeWide.bd-t\:solid\:width-d0\:gold, .ctx\:marqueeWide .bd-t\:solid\:width-d0\:gold {
border-top-style: solid;
border-top-width: 0.125rem;
border-top-color: #B1740F;
}

.ctx\:marqueeWide.bd-b\:solid\:width-d0\:gold, .ctx\:marqueeWide .bd-b\:solid\:width-d0\:gold {
border-bottom-style: solid;
border-bottom-width: 0.125rem;
border-bottom-color: #B1740F;
}

.ctx\:marqueeWide.events\:auto, .ctx\:marqueeWide .events\:auto {
pointer-events: auto;
}

.ctx\:miniMarquee.row\:x-center\:y-center, .ctx\:miniMarquee .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.ctx\:miniMarquee.bg-attr\:no-repeat\:cover\:center, .ctx\:miniMarquee .bg-attr\:no-repeat\:cover\:center {
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.ctx\:miniMarquee.bg-color\:gold, .ctx\:miniMarquee .bg-color\:gold {
background-color: #B1740F;
}

.ctx\:miniMarquee.h\:s2, .ctx\:miniMarquee .h\:s2 {
height: 28rem;
}

.ctx\:miniMarquee.w\:full, .ctx\:miniMarquee .w\:full {
width: 100%;
}

.ctx\:miniMarquee.z\:0, .ctx\:miniMarquee .z\:0 {
z-index: 0;
}

.ctx\:miniMarquee.bd\:round-d2, .ctx\:miniMarquee .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:miniMarquee.relative, .ctx\:miniMarquee .relative {
position: relative;
}

.ctx\:miniMarquee.events\:auto, .ctx\:miniMarquee .events\:auto {
pointer-events: auto;
}

.ctx\:marqueeImage.z\:3, .ctx\:marqueeImage .z\:3 {
z-index: 3;
}

.ctx\:marqueeImage.mg-t\:d8, .ctx\:marqueeImage .mg-t\:d8 {
margin-top: 2rem;
}

.ctx\:marqueeImage.text\:white\:hug\:center, .ctx\:marqueeImage .text\:white\:hug\:center {
color: #F7F7F7;
line-height: 1.2;
text-align: center;
}

.ctx\:marqueeImage.font\:fancy\:bold\:h6, .ctx\:marqueeImage .font\:fancy\:bold\:h6 {
font-family: Caviar, sans-serif;
font-weight: 700;
font-size: 1.125rem;
}

.ctx\:marqueeImage.text\:brief, .ctx\:marqueeImage .text\:brief {
max-width: 45ch;
}

.ctx\:marqueeImage.text\:white\:relaxed\:center, .ctx\:marqueeImage .text\:white\:relaxed\:center {
color: #F7F7F7;
line-height: 1.5;
text-align: center;
}

.ctx\:marqueeImage.font\:fancy\:thin\:h5, .ctx\:marqueeImage .font\:fancy\:thin\:h5 {
font-family: Caviar, sans-serif;
font-weight: 100;
font-size: 1.5rem;
}

.ctx\:marqueeImage.mg-t\:d6, .ctx\:marqueeImage .mg-t\:d6 {
margin-top: 1.5rem;
}

.ctx\:marqueeImage.col\:x-center\:y-center, .ctx\:marqueeImage .col\:x-center\:y-center {
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
}

.ctx\:marqueeImage.bd\:solid\:width-d0\:gold95, .ctx\:marqueeImage .bd\:solid\:width-d0\:gold95 {
border-style: solid;
border-width: 0.125rem;
border-color: rgba(181, 141, 94, 0.95);
}

.ctx\:marqueeImage.h\:full, .ctx\:marqueeImage .h\:full {
height: 100%;
}

.ctx\:marqueeImage.w\:full, .ctx\:marqueeImage .w\:full {
width: 100%;
}

.ctx\:marqueeImage.pd\:d8, .ctx\:marqueeImage .pd\:d8 {
padding-top: 2rem;
padding-left: 2rem;
padding-right: 2rem;
padding-bottom: 2rem;
}

.ctx\:marqueeImage.row\:x-center\:y-center, .ctx\:marqueeImage .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.ctx\:marqueeImage.z\:5, .ctx\:marqueeImage .z\:5 {
z-index: 5;
}

.ctx\:marqueeImage.absolute, .ctx\:marqueeImage .absolute {
position: absolute;
}

.ctx\:marqueeImage.bd\:round-d2, .ctx\:marqueeImage .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:marqueeImage.z\:2, .ctx\:marqueeImage .z\:2 {
z-index: 2;
}

.ctx\:marqueeImage.top\:0, .ctx\:marqueeImage .top\:0 {
top: 0;
}

.ctx\:marqueeImage.bg-attr\:no-repeat\:cover\:center, .ctx\:marqueeImage .bg-attr\:no-repeat\:cover\:center {
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.ctx\:marqueeImage.h\:s3, .ctx\:marqueeImage .h\:s3 {
height: 32rem;
}

.ctx\:marqueeImage.z\:0, .ctx\:marqueeImage .z\:0 {
z-index: 0;
}

.ctx\:marqueeImage.relative, .ctx\:marqueeImage .relative {
position: relative;
}

.ctx\:marqueeImage.events\:auto, .ctx\:marqueeImage .events\:auto {
pointer-events: auto;
}

.ctx\:grandMarquee.z\:3, .ctx\:grandMarquee .z\:3 {
z-index: 3;
}

.ctx\:grandMarquee.mg-t\:d8, .ctx\:grandMarquee .mg-t\:d8 {
margin-top: 2rem;
}

.ctx\:grandMarquee.text\:white\:hug\:center, .ctx\:grandMarquee .text\:white\:hug\:center {
color: #F7F7F7;
line-height: 1.2;
text-align: center;
}

.ctx\:grandMarquee.font\:fancy\:bold\:h6, .ctx\:grandMarquee .font\:fancy\:bold\:h6 {
font-family: Caviar, sans-serif;
font-weight: 700;
font-size: 1.125rem;
}

.ctx\:grandMarquee.text\:brief, .ctx\:grandMarquee .text\:brief {
max-width: 45ch;
}

.ctx\:grandMarquee.text\:white\:relaxed\:center, .ctx\:grandMarquee .text\:white\:relaxed\:center {
color: #F7F7F7;
line-height: 1.5;
text-align: center;
}

.ctx\:grandMarquee.font\:fancy\:thin\:h3, .ctx\:grandMarquee .font\:fancy\:thin\:h3 {
font-family: Caviar, sans-serif;
font-weight: 100;
font-size: 3rem;
}

.ctx\:grandMarquee.col\:x-center\:y-center, .ctx\:grandMarquee .col\:x-center\:y-center {
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
}

.ctx\:grandMarquee.bd\:solid\:width-d0\:gold95, .ctx\:grandMarquee .bd\:solid\:width-d0\:gold95 {
border-style: solid;
border-width: 0.125rem;
border-color: rgba(181, 141, 94, 0.95);
}

.ctx\:grandMarquee.h\:full, .ctx\:grandMarquee .h\:full {
height: 100%;
}

.ctx\:grandMarquee.w\:full, .ctx\:grandMarquee .w\:full {
width: 100%;
}

.ctx\:grandMarquee.pd\:c2, .ctx\:grandMarquee .pd\:c2 {
padding-top: 4.5rem;
padding-left: 4.5rem;
padding-right: 4.5rem;
padding-bottom: 4.5rem;
}

.ctx\:grandMarquee.row\:x-center\:y-center, .ctx\:grandMarquee .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.ctx\:grandMarquee.z\:5, .ctx\:grandMarquee .z\:5 {
z-index: 5;
}

.ctx\:grandMarquee.absolute, .ctx\:grandMarquee .absolute {
position: absolute;
}

.ctx\:grandMarquee.z\:2, .ctx\:grandMarquee .z\:2 {
z-index: 2;
}

.ctx\:grandMarquee.top\:0, .ctx\:grandMarquee .top\:0 {
top: 0;
}

.ctx\:grandMarquee.bg-attr\:no-repeat\:cover\:center, .ctx\:grandMarquee .bg-attr\:no-repeat\:cover\:center {
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.ctx\:grandMarquee.h\:s3, .ctx\:grandMarquee .h\:s3 {
height: 32rem;
}

.ctx\:grandMarquee.z\:0, .ctx\:grandMarquee .z\:0 {
z-index: 0;
}

.ctx\:grandMarquee.relative, .ctx\:grandMarquee .relative {
position: relative;
}

.ctx\:grandMarquee.events\:auto, .ctx\:grandMarquee .events\:auto {
pointer-events: auto;
}

.font\:fancy\:bold\:h6,  .font\:fancy\:bold\:h6 {
font-family: Caviar, sans-serif;
font-weight: 700;
font-size: 1.125rem;
}

.text\:brief,  .text\:brief {
max-width: 45ch;
}

.mg-t\:d6,  .mg-t\:d6 {
margin-top: 1.5rem;
}

.pd\:d8,  .pd\:d8 {
padding-top: 2rem;
padding-left: 2rem;
padding-right: 2rem;
padding-bottom: 2rem;
}

.ctx\:marquee.h\:full, .ctx\:marquee .h\:full {
height: 100%;
}

.ctx\:marquee.w\:full, .ctx\:marquee .w\:full {
width: 100%;
}

.ctx\:marquee.z\:2, .ctx\:marquee .z\:2 {
z-index: 2;
}

.ctx\:marquee.top\:0, .ctx\:marquee .top\:0 {
top: 0;
}

.ctx\:marquee.bd\:round-d2, .ctx\:marquee .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:marquee.row\:x-center\:y-center, .ctx\:marquee .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.ctx\:marquee.bg-attr\:no-repeat\:cover\:center, .ctx\:marquee .bg-attr\:no-repeat\:cover\:center {
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.ctx\:marquee.h\:s3, .ctx\:marquee .h\:s3 {
height: 32rem;
}

.ctx\:marquee.z\:0, .ctx\:marquee .z\:0 {
z-index: 0;
}

.ctx\:marquee.relative, .ctx\:marquee .relative {
position: relative;
}

.ctx\:marquee.events\:auto, .ctx\:marquee .events\:auto {
pointer-events: auto;
}

.ctx\:altImage.bd\:round-d2, .ctx\:altImage .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:altImage.h\:s1, .ctx\:altImage .h\:s1 {
height: 24rem;
}

.ctx\:altImage.font\:h6, .ctx\:altImage .font\:h6 {
font-size: 1.125rem;
}

.ctx\:altImage.w\:s6, .ctx\:altImage .w\:s6 {
width: 48rem;
}

.ctx\:altImage.pd-y\:d8, .ctx\:altImage .pd-y\:d8 {
padding-top: 2rem;
padding-bottom: 2rem;
}

.ctx\:altImage.row\:x-end, .ctx\:altImage .row\:x-end {
display:flex;
flex-direction:row;
justify-content: flex-end;
}

.ctx\:altImage.contain, .ctx\:altImage .contain {

}

.cursor\:pointer,  .cursor\:pointer {
cursor: pointer;
}

.pd-b\:d6,  .pd-b\:d6 {
padding-bottom: 1.5rem;
}

.bd-b\:solid\:width-d0\:ultrawhite,  .bd-b\:solid\:width-d0\:ultrawhite {
border-bottom-style: solid;
border-bottom-width: 0.125rem;
border-bottom-color: #eeeeee;
}

.font\:semibold\:sans\:h6,  .font\:semibold\:sans\:h6 {
font-weight: 600;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.text\:left\:spacious\:gold,  .text\:left\:spacious\:gold {
text-align: left;
line-height: 1.7;
color: #B1740F;
}

.ctx\:galleryColumns2.font\:regular\:sans\:h6, .ctx\:galleryColumns2 .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:galleryColumns2.text\:left\:spacious\:grey, .ctx\:galleryColumns2 .text\:left\:spacious\:grey {
text-align: left;
line-height: 1.7;
color: #8D8D8D;
}

.ctx\:galleryColumns1.text\:darkgrey, .ctx\:galleryColumns1 .text\:darkgrey {
color: #383838;
}

.ctx\:galleryColumns1.font\:fancy\:h4\:bold, .ctx\:galleryColumns1 .font\:fancy\:h4\:bold {
font-family: Caviar, sans-serif;
font-size: 2.25rem;
font-weight: 700;
}

.gap\:d4,  .gap\:d4 {
gap: 1rem;
}

.col,  .col {
display:flex;
flex-direction:column;
align-items: x;
justify-content: y;
flex-wrap: FlexWrapRule;
}

.pd-t\:d8,  .pd-t\:d8 {
padding-top: 2rem;
}

.font\:fancy\:h2,  .font\:fancy\:h2 {
font-family: Caviar, sans-serif;
font-size: 5.062rem;
}

.h\:hScreen,  .h\:hScreen {
height: 100vh;
}

.font\:sans\:semibold,  .font\:sans\:semibold {
font-family: Open Sans, sans-serif;
font-weight: 600;
}

.text\:grey,  .text\:grey {
color: #8D8D8D;
}

.bg-color\:jetblack,  .bg-color\:jetblack {
background-color: #0A0A0A;
}

.ctx\:footer.font\:h5, .ctx\:footer .font\:h5 {
font-size: 1.5rem;
}

.ctx\:footer.text\:darkgrey, .ctx\:footer .text\:darkgrey {
color: #383838;
}

.ctx\:footer.font\:sans\:semibold, .ctx\:footer .font\:sans\:semibold {
font-family: Open Sans, sans-serif;
font-weight: 600;
}

.ctx\:footer.text\:black, .ctx\:footer .text\:black {
color: #0b0b0b;
}

.ctx\:footer.mg-t\:d10, .ctx\:footer .mg-t\:d10 {
margin-top: 2.5rem;
}

.ctx\:footer.gap\:d4, .ctx\:footer .gap\:d4 {
gap: 1rem;
}

.ctx\:footer.row\:y-center, .ctx\:footer .row\:y-center {
display:flex;
flex-direction:row;
align-items: center;
}

.ctx\:footer.font\:fancy\:h3, .ctx\:footer .font\:fancy\:h3 {
font-family: Caviar, sans-serif;
font-size: 3rem;
}

.ctx\:footer.text\:darkgrey\:normal, .ctx\:footer .text\:darkgrey\:normal {
color: #383838;
line-height: 1.4;
}

.ctx\:footer.bd-b\:solid\:width-d0\:darkgrey, .ctx\:footer .bd-b\:solid\:width-d0\:darkgrey {
border-bottom-style: solid;
border-bottom-width: 0.125rem;
border-bottom-color: #383838;
}

.ctx\:footer.col\:x-start\:y-start, .ctx\:footer .col\:x-start\:y-start {
display:flex;
flex-direction:column;
align-items: flex-start;
justify-content: flex-start;
}

.ctx\:footer.pd-b\:d12, .ctx\:footer .pd-b\:d12 {
padding-bottom: 3rem;
}

.ctx\:footer.w\:full, .ctx\:footer .w\:full {
width: 100%;
}

.ctx\:footer.col\:x-center\:y-center, .ctx\:footer .col\:x-center\:y-center {
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
}

.ctx\:footer.bg-attr\:no-repeat\:cover\:center, .ctx\:footer .bg-attr\:no-repeat\:cover\:center {
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}

.ctx\:footer.bg-color\:black, .ctx\:footer .bg-color\:black {
background-color: #0b0b0b;
}

.ctx\:footer.h\:s3, .ctx\:footer .h\:s3 {
height: 32rem;
}

.ctx\:footer.z\:0, .ctx\:footer .z\:0 {
z-index: 0;
}

.ctx\:footer.relative, .ctx\:footer .relative {
position: relative;
}

.ctx\:footer.contain, .ctx\:footer .contain {

}

.ctx\:footer.events\:auto, .ctx\:footer .events\:auto {
pointer-events: auto;
}

.ctx\:editorialColumn3.font\:regular\:sans\:h6, .ctx\:editorialColumn3 .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:editorialColumn3.text\:left\:spacious\:grey, .ctx\:editorialColumn3 .text\:left\:spacious\:grey {
text-align: left;
line-height: 1.7;
color: #8D8D8D;
}

.ctx\:editorialColumn2.font\:regular\:sans\:h6, .ctx\:editorialColumn2 .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:editorialColumn2.text\:left\:spacious\:grey, .ctx\:editorialColumn2 .text\:left\:spacious\:grey {
text-align: left;
line-height: 1.7;
color: #8D8D8D;
}

.ctx\:editorialColumn1.text\:darkgrey\:normal, .ctx\:editorialColumn1 .text\:darkgrey\:normal {
color: #383838;
line-height: 1.4;
}

.ctx\:editorialColumn1.font\:fancy\:h3\:bold, .ctx\:editorialColumn1 .font\:fancy\:h3\:bold {
font-family: Caviar, sans-serif;
font-size: 3rem;
font-weight: 700;
}

.ctx\:editorialColumn1.mg-b\:d6, .ctx\:editorialColumn1 .mg-b\:d6 {
margin-bottom: 1.5rem;
}

.ctx\:editorialColumns3.font\:regular\:sans\:h6, .ctx\:editorialColumns3 .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:editorialColumns3.text\:left\:spacious\:grey, .ctx\:editorialColumns3 .text\:left\:spacious\:grey {
text-align: left;
line-height: 1.7;
color: #8D8D8D;
}

.ctx\:editorialColumns3.mg-b\:d4, .ctx\:editorialColumns3 .mg-b\:d4 {
margin-bottom: 1rem;
}

.ctx\:editorialColumns3.mg-b\:d10, .ctx\:editorialColumns3 .mg-b\:d10 {
margin-bottom: 2.5rem;
}

.ctx\:editorialColumns3.bd\:round-d2, .ctx\:editorialColumns3 .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:editorialColumns3.child\:grow, .ctx\:editorialColumns3 .child\:grow {
flex-grow: 1;
}

.ctx\:editorialColumns3.bg-color\:grey, .ctx\:editorialColumns3 .bg-color\:grey {
background-color: #8D8D8D;
}

.ctx\:editorialColumns3.min-h\:s1, .ctx\:editorialColumns3 .min-h\:s1 {
min-height: 24rem;
}

.ctx\:editorialColumns2.bd\:round-d2, .ctx\:editorialColumns2 .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:editorialColumns2.child\:grow, .ctx\:editorialColumns2 .child\:grow {
flex-grow: 1;
}

.ctx\:editorialColumns2.bg-color\:grey, .ctx\:editorialColumns2 .bg-color\:grey {
background-color: #8D8D8D;
}

.ctx\:editorialColumns2.min-h\:s3, .ctx\:editorialColumns2 .min-h\:s3 {
min-height: 32rem;
}

.ctx\:editorialColumns1.mg-t\:d10, .ctx\:editorialColumns1 .mg-t\:d10 {
margin-top: 2.5rem;
}

.ctx\:editorialColumns1.bd\:round-d2, .ctx\:editorialColumns1 .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:editorialColumns1.child\:grow, .ctx\:editorialColumns1 .child\:grow {
flex-grow: 1;
}

.ctx\:editorialColumns1.bg-color\:grey, .ctx\:editorialColumns1 .bg-color\:grey {
background-color: #8D8D8D;
}

.ctx\:editorialColumns1.min-h\:s1, .ctx\:editorialColumns1 .min-h\:s1 {
min-height: 24rem;
}

.ctx\:editorialColumns1.mg-t\:d4, .ctx\:editorialColumns1 .mg-t\:d4 {
margin-top: 1rem;
}

.ctx\:editorialColumns1.font\:regular\:sans\:h6, .ctx\:editorialColumns1 .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:editorialColumns1.text\:left\:spacious\:grey, .ctx\:editorialColumns1 .text\:left\:spacious\:grey {
text-align: left;
line-height: 1.7;
color: #8D8D8D;
}

.ctx\:editorialColumns1.text\:darkgrey\:normal, .ctx\:editorialColumns1 .text\:darkgrey\:normal {
color: #383838;
line-height: 1.4;
}

.ctx\:editorialColumns1.font\:fancy\:h3\:bold, .ctx\:editorialColumns1 .font\:fancy\:h3\:bold {
font-family: Caviar, sans-serif;
font-size: 3rem;
font-weight: 700;
}

.ctx\:editorialThreeCol.gap\:d4, .ctx\:editorialThreeCol .gap\:d4 {
gap: 1rem;
}

.ctx\:editorialThreeCol.col, .ctx\:editorialThreeCol .col {
display:flex;
flex-direction:column;
align-items: x;
justify-content: y;
flex-wrap: FlexWrapRule;
}

.ctx\:editorialThreeCol.contain, .ctx\:editorialThreeCol .contain {

}

.h\:s1,  .h\:s1 {
height: 24rem;
}

.overflow\:visible,  .overflow\:visible {
overflow: visible;
}

.transition\:slow,  .transition\:slow {
transition: all 0.3s ease-in-out;
}

.\@hover\:\[text\:white_bg-color\:black_pd\:d6\]:hover,  .\@hover\:\[text\:white_bg-color\:black_pd\:d6\]:hover {
color: #F7F7F7;
background-color: #0b0b0b;
padding-top: 1.5rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
padding-bottom: 1.5rem;
}

.w\:d8,  .w\:d8 {
width: 2rem;
}

.h\:d8,  .h\:d8 {
height: 2rem;
}

.bg-color\:lightwhite,  .bg-color\:lightwhite {
background-color: #f7f7f7;
}

.pd\:d4,  .pd\:d4 {
padding-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;
padding-bottom: 1rem;
}

.bd\:width-d0\:solid\:lightwhite,  .bd\:width-d0\:solid\:lightwhite {
border-width: 0.125rem;
border-style: solid;
border-color: #f7f7f7;
}

.min-w\:d8,  .min-w\:d8 {
min-width: 2rem;
}

.min-h\:d8,  .min-h\:d8 {
min-height: 2rem;
}

.bg-color\:ultrawhite,  .bg-color\:ultrawhite {
background-color: #eeeeee;
}

.pd-y\:c3,  .pd-y\:c3 {
padding-top: 5rem;
padding-bottom: 5rem;
}

.font\:fancy\:h5\:bold,  .font\:fancy\:h5\:bold {
font-family: Caviar, sans-serif;
font-size: 1.5rem;
font-weight: 700;
}

.text\:left\:spacious\:darkgrey,  .text\:left\:spacious\:darkgrey {
text-align: left;
line-height: 1.7;
color: #383838;
}

.ctx\:editorialColumn3.mg-b\:d12, .ctx\:editorialColumn3 .mg-b\:d12 {
margin-bottom: 3rem;
}

.ctx\:editorialColumn2.mg-b\:d12, .ctx\:editorialColumn2 .mg-b\:d12 {
margin-bottom: 3rem;
}

.ctx\:editorialColumn1.mg-b\:d12, .ctx\:editorialColumn1 .mg-b\:d12 {
margin-bottom: 3rem;
}

.pd-b\:d10,  .pd-b\:d10 {
padding-bottom: 2.5rem;
}

.pd-t\:c4,  .pd-t\:c4 {
padding-top: 5.5rem;
}

.ctx\:blogsColumn.mg-t\:d8, .ctx\:blogsColumn .mg-t\:d8 {
margin-top: 2rem;
}

.ctx\:blogsColumn.gap\:c2, .ctx\:blogsColumn .gap\:c2 {
gap: 4.5rem;
}

.ctx\:blogsColumn.row\:x-center, .ctx\:blogsColumn .row\:x-center {
display:flex;
flex-direction:row;
justify-content: center;
}

.ctx\:blogsColumn.bd\:round-d2, .ctx\:blogsColumn .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:blogsColumn.aspect\:landscape, .ctx\:blogsColumn .aspect\:landscape {
aspect-ratio: 16/10;
}

.ctx\:blogsColumn.child\:grow, .ctx\:blogsColumn .child\:grow {
flex-grow: 1;
}

.ctx\:blogsColumn.mg-l\:d4, .ctx\:blogsColumn .mg-l\:d4 {
margin-left: 1rem;
}

.ctx\:blogsColumn.\@hover\:\[text\:darkgrey_pd-l\:d3\]:hover, .ctx\:blogsColumn .\@hover\:\[text\:darkgrey_pd-l\:d3\]:hover {
color: #383838;
padding-left: 0.75rem;
}

.ctx\:blogsColumn.font\:semibold\:sans\:h6, .ctx\:blogsColumn .font\:semibold\:sans\:h6 {
font-weight: 600;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:blogsColumn.text\:left\:spacious\:gold\:brief, .ctx\:blogsColumn .text\:left\:spacious\:gold\:brief {
text-align: left;
line-height: 1.7;
color: #B1740F;
max-width: 45ch;
}

.ctx\:blogsColumn.transition\:ease, .ctx\:blogsColumn .transition\:ease {
transition: all 0.3s ease;
}

.ctx\:blogsColumn.row\:y-center, .ctx\:blogsColumn .row\:y-center {
display:flex;
flex-direction:row;
align-items: center;
}

.ctx\:blogsColumn.w\:full, .ctx\:blogsColumn .w\:full {
width: 100%;
}

.ctx\:blogsColumn.mg-t\:d10, .ctx\:blogsColumn .mg-t\:d10 {
margin-top: 2.5rem;
}

.ctx\:blogsColumn.font\:regular\:sans\:h6, .ctx\:blogsColumn .font\:regular\:sans\:h6 {
font-weight: 400;
font-family: Open Sans, sans-serif;
font-size: 1.125rem;
}

.ctx\:blogsColumn.text\:left\:spacious\:grey\:brief, .ctx\:blogsColumn .text\:left\:spacious\:grey\:brief {
text-align: left;
line-height: 1.7;
color: #8D8D8D;
max-width: 45ch;
}

.ctx\:blogsColumn.mg-b\:d4, .ctx\:blogsColumn .mg-b\:d4 {
margin-bottom: 1rem;
}

.ctx\:blogsColumn.font\:fancy\:h5\:bold, .ctx\:blogsColumn .font\:fancy\:h5\:bold {
font-family: Caviar, sans-serif;
font-size: 1.5rem;
font-weight: 700;
}

.ctx\:blogsColumn.text\:left\:spacious\:darkgrey\:brief, .ctx\:blogsColumn .text\:left\:spacious\:darkgrey\:brief {
text-align: left;
line-height: 1.7;
color: #383838;
max-width: 45ch;
}

.ctx\:blogsColumn.pd-y\:d10, .ctx\:blogsColumn .pd-y\:d10 {
padding-top: 2.5rem;
padding-bottom: 2.5rem;
}

.ctx\:blogsColumn.col-r\:y-center, .ctx\:blogsColumn .col-r\:y-center {
display:flex;
flex-direction:column-reverse;
justify-content: center;
}

.ctx\:blogsColumn.col, .ctx\:blogsColumn .col {
display:flex;
flex-direction:column;
align-items: x;
justify-content: y;
flex-wrap: FlexWrapRule;
}

.ctx\:blogsColumn.text\:lightgrey\:normal, .ctx\:blogsColumn .text\:lightgrey\:normal {
color: #BABABA;
line-height: 1.4;
}

.ctx\:blogsColumn.font\:fancy\:h3\:bold, .ctx\:blogsColumn .font\:fancy\:h3\:bold {
font-family: Caviar, sans-serif;
font-size: 3rem;
font-weight: 700;
}

.ctx\:blogsColumn.text\:darkgrey\:relaxed, .ctx\:blogsColumn .text\:darkgrey\:relaxed {
color: #383838;
line-height: 1.5;
}

.ctx\:blogsColumn.top\:d6, .ctx\:blogsColumn .top\:d6 {
top: 1.5rem;
}

.ctx\:blogsColumn.sticky, .ctx\:blogsColumn .sticky {
position: sticky;
}

.ctx\:blogsColumn.h\:auto, .ctx\:blogsColumn .h\:auto {
height: auto;
}

.ctx\:blogsColumn.contain, .ctx\:blogsColumn .contain {

}

.ctx\:blogsColumn.events\:auto, .ctx\:blogsColumn .events\:auto {
pointer-events: auto;
}

.ctx\:mobileBrand.text\:white, .ctx\:mobileBrand .text\:white {
color: #F7F7F7;
}

.ctx\:mobileBrand.font\:h6\:fancy\:bold, .ctx\:mobileBrand .font\:h6\:fancy\:bold {
font-size: 1.125rem;
font-family: Caviar, sans-serif;
font-weight: 700;
}

.ctx\:mobileBrand.pd-b\:d6, .ctx\:mobileBrand .pd-b\:d6 {
padding-bottom: 1.5rem;
}

.ctx\:mobileBrand.pd-t\:d7, .ctx\:mobileBrand .pd-t\:d7 {
padding-top: 1.75rem;
}

.ctx\:mobileBrand.bg-color\:black, .ctx\:mobileBrand .bg-color\:black {
background-color: #0b0b0b;
}

.ctx\:mobileBrand.row\:y-center\:x-start, .ctx\:mobileBrand .row\:y-center\:x-start {
display:flex;
flex-direction:row;
align-items: center;
justify-content: flex-start;
}

.ctx\:mobileBrand.contain, .ctx\:mobileBrand .contain {

}

.ctx\:announce.hidden, .ctx\:announce .hidden {
display: none;
}

.ctx\:announce.bd-b\:solid\:width-d0\:gold50, .ctx\:announce .bd-b\:solid\:width-d0\:gold50 {
border-bottom-style: solid;
border-bottom-width: 0.125rem;
border-bottom-color: rgba(181, 141, 94, 0.50);
}

@media only screen and (min-width:64rem) {
.ctx\:announce.pd-y\:d8, .ctx\:announce .pd-y\:d8 {
padding-top: 2rem;
padding-bottom: 2rem;
}

.ctx\:announce.row\:x-center\:y-center, .ctx\:announce .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.ctx\:announce.bg-color\:black, .ctx\:announce .bg-color\:black {
background-color: #0b0b0b;
}

.ctx\:announce.text\:white, .ctx\:announce .text\:white {
color: #F7F7F7;
}

.ctx\:announce.font\:sans\:regular, .ctx\:announce .font\:sans\:regular {
font-family: Open Sans, sans-serif;
font-weight: 400;
}

.ctx\:mobileBrand.hidden, .ctx\:mobileBrand .hidden {
display: none;
}

.ctx\:blogsColumn.row, .ctx\:blogsColumn .row {
display:flex;
flex-direction:row;
justify-content: x;
align-items: y;
flex-wrap: FlexWrapRule;
}

.ctx\:blogsColumn.pd-l\:c1, .ctx\:blogsColumn .pd-l\:c1 {
padding-left: 4rem;
}

.ctx\:blogsColumn.bd-l\:solid\:width-d0\:ultrawhite, .ctx\:blogsColumn .bd-l\:solid\:width-d0\:ultrawhite {
border-left-style: solid;
border-left-width: 0.125rem;
border-left-color: #eeeeee;
}

.ctx\:blogsColumn.row\:y-center, .ctx\:blogsColumn .row\:y-center {
display:flex;
flex-direction:row;
align-items: center;
}

.ctx\:blogsColumn.h\:auto, .ctx\:blogsColumn .h\:auto {
height: auto;
}

.ctx\:blogsColumn.mg-l\:d12, .ctx\:blogsColumn .mg-l\:d12 {
margin-left: 3rem;
}

.grid\:gap-d8\:rows-1\:cols-3-fr,  .grid\:gap-d8\:rows-1\:cols-3-fr {
display:grid;
gap: 2rem;
grid-template-rows: repeat(1,auto);
grid-template-columns: repeat(3,1fr);
}

.h\:auto,  .h\:auto {
height: auto;
}

.ctx\:editorialColumn1.h\:auto, .ctx\:editorialColumn1 .h\:auto {
height: auto;
}

.ctx\:editorialColumn1.col-spans\:from-1\:to-2, .ctx\:editorialColumn1 .col-spans\:from-1\:to-2 {
grid-column-start: 1;
grid-column-end: 2;
}

.bd\:round-d2,  .bd\:round-d2 {
border-radius: 0.5rem;
}

.ctx\:editorialColumn2.h\:auto, .ctx\:editorialColumn2 .h\:auto {
height: auto;
}

.ctx\:editorialColumn2.col-spans\:from-2\:to-3, .ctx\:editorialColumn2 .col-spans\:from-2\:to-3 {
grid-column-start: 2;
grid-column-end: 3;
}

.ctx\:editorialColumn2.col, .ctx\:editorialColumn2 .col {
display:flex;
flex-direction:column;
align-items: x;
justify-content: y;
flex-wrap: FlexWrapRule;
}

.ctx\:editorialColumn3.h\:auto, .ctx\:editorialColumn3 .h\:auto {
height: auto;
}

.ctx\:editorialColumn3.col-spans\:from-3\:to-4, .ctx\:editorialColumn3 .col-spans\:from-3\:to-4 {
grid-column-start: 3;
grid-column-end: 4;
}

.ctx\:editorialColumn3.col, .ctx\:editorialColumn3 .col {
display:flex;
flex-direction:column;
align-items: x;
justify-content: y;
flex-wrap: FlexWrapRule;
}

.h\:s7,  .h\:s7 {
height: 56rem;
}

.w\:auto,  .w\:auto {
width: auto;
}

.row\:x-center\:y-center,  .row\:x-center\:y-center {
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;
}

.min-h\:c6,  .min-h\:c6 {
min-height: 7rem;
}

.min-w\:c6,  .min-w\:c6 {
min-width: 7rem;
}

.font\:h4,  .font\:h4 {
font-size: 2.25rem;
}

.bg-color\:lightwhite,  .bg-color\:lightwhite {
background-color: #f7f7f7;
}

.text\:grey,  .text\:grey {
color: #8D8D8D;
}

.h\:c6,  .h\:c6 {
height: 7rem;
}

.w\:c6,  .w\:c6 {
width: 7rem;
}

.ctx\:editorialThreeCol.grid\:gap-d8\:rows-2\:cols-3-fr, .ctx\:editorialThreeCol .grid\:gap-d8\:rows-2\:cols-3-fr {
display:grid;
gap: 2rem;
grid-template-rows: repeat(2,auto);
grid-template-columns: repeat(3,1fr);
}

.ctx\:editorialThreeCol.h\:s6, .ctx\:editorialThreeCol .h\:s6 {
height: 48rem;
}

.ctx\:editorialColumns1.h\:auto, .ctx\:editorialColumns1 .h\:auto {
height: auto;
}

.ctx\:editorialColumns1.col-spans\:from-1\:to-2, .ctx\:editorialColumns1 .col-spans\:from-1\:to-2 {
grid-column-start: 1;
grid-column-end: 2;
}

.ctx\:editorialColumns1.row-spans\:from-1\:to-3, .ctx\:editorialColumns1 .row-spans\:from-1\:to-3 {
grid-row-start: 1;
grid-row-end: 3;
}

.ctx\:editorialColumns1.col, .ctx\:editorialColumns1 .col {
display:flex;
flex-direction:column;
align-items: x;
justify-content: y;
flex-wrap: FlexWrapRule;
}

.ctx\:editorialColumns1.gap\:d8, .ctx\:editorialColumns1 .gap\:d8 {
gap: 2rem;
}

.ctx\:editorialColumns1.mg-b\:d0, .ctx\:editorialColumns1 .mg-b\:d0 {
margin-bottom: 0.125rem;
}

.ctx\:editorialColumns2.h\:auto, .ctx\:editorialColumns2 .h\:auto {
height: auto;
}

.ctx\:editorialColumns2.col-spans\:from-2\:to-3, .ctx\:editorialColumns2 .col-spans\:from-2\:to-3 {
grid-column-start: 2;
grid-column-end: 3;
}

.ctx\:editorialColumns2.row-spans\:from-1\:to-3, .ctx\:editorialColumns2 .row-spans\:from-1\:to-3 {
grid-row-start: 1;
grid-row-end: 3;
}

.ctx\:editorialColumns2.col, .ctx\:editorialColumns2 .col {
display:flex;
flex-direction:column;
align-items: x;
justify-content: y;
flex-wrap: FlexWrapRule;
}

.ctx\:editorialColumns2.gap\:d8, .ctx\:editorialColumns2 .gap\:d8 {
gap: 2rem;
}

.ctx\:editorialColumns3.h\:auto, .ctx\:editorialColumns3 .h\:auto {
height: auto;
}

.ctx\:editorialColumns3.col-spans\:from-3\:to-4, .ctx\:editorialColumns3 .col-spans\:from-3\:to-4 {
grid-column-start: 3;
grid-column-end: 4;
}

.ctx\:editorialColumns3.row-spans\:from-1\:to-3, .ctx\:editorialColumns3 .row-spans\:from-1\:to-3 {
grid-row-start: 1;
grid-row-end: 3;
}

.ctx\:editorialColumns3.col, .ctx\:editorialColumns3 .col {
display:flex;
flex-direction:column;
align-items: x;
justify-content: y;
flex-wrap: FlexWrapRule;
}

.ctx\:editorialColumns3.gap\:d8, .ctx\:editorialColumns3 .gap\:d8 {
gap: 2rem;
}

.ctx\:editorialColumns3.mg-b\:d0, .ctx\:editorialColumns3 .mg-b\:d0 {
margin-bottom: 0.125rem;
}

.ctx\:editorialColumn1.mg-b\:0, .ctx\:editorialColumn1 .mg-b\:0 {
margin-bottom: 0;
}

.ctx\:footer.row\:x-between\:y-end, .ctx\:footer .row\:x-between\:y-end {
display:flex;
flex-direction:row;
justify-content: space-between;
align-items: flex-end;
}

.ctx\:footer.mg-t\:0, .ctx\:footer .mg-t\:0 {
margin-top: 0;
}

.ctx\:footer.gap\:d10, .ctx\:footer .gap\:d10 {
gap: 2.5rem;
}

.grid\:gap-d8\:rows-1\:cols-2-fr,  .grid\:gap-d8\:rows-1\:cols-2-fr {
display:grid;
gap: 2rem;
grid-template-rows: repeat(1,auto);
grid-template-columns: repeat(2,1fr);
}

.ctx\:galleryColumns1.h\:auto, .ctx\:galleryColumns1 .h\:auto {
height: auto;
}

.ctx\:galleryColumns1.col-spans\:from-1\:to-2, .ctx\:galleryColumns1 .col-spans\:from-1\:to-2 {
grid-column-start: 1;
grid-column-end: 2;
}

.ctx\:galleryColumns1.font\:h3, .ctx\:galleryColumns1 .font\:h3 {
font-size: 3rem;
}

.ctx\:galleryColumns2.h\:auto, .ctx\:galleryColumns2 .h\:auto {
height: auto;
}

.ctx\:galleryColumns2.col-spans\:from-2\:to-3, .ctx\:galleryColumns2 .col-spans\:from-2\:to-3 {
grid-column-start: 2;
grid-column-end: 3;
}

.ctx\:galleryColumns2.col, .ctx\:galleryColumns2 .col {
display:flex;
flex-direction:column;
align-items: x;
justify-content: y;
flex-wrap: FlexWrapRule;
}

.ctx\:altImage.h\:s4, .ctx\:altImage .h\:s4 {
height: 36rem;
}

.ctx\:marquee.h\:s6, .ctx\:marquee .h\:s6 {
height: 48rem;
}

.mg-t\:d10,  .mg-t\:d10 {
margin-top: 2.5rem;
}

.font\:h3,  .font\:h3 {
font-size: 3rem;
}

.ctx\:grandMarquee.h\:s8, .ctx\:grandMarquee .h\:s8 {
height: 60rem;
}

.ctx\:marqueeImage.h\:s6, .ctx\:marqueeImage .h\:s6 {
height: 48rem;
}

.ctx\:marqueeImage.mg-t\:d10, .ctx\:marqueeImage .mg-t\:d10 {
margin-top: 2.5rem;
}

.ctx\:marqueeImage.font\:h3, .ctx\:marqueeImage .font\:h3 {
font-size: 3rem;
}

.ctx\:miniMarquee.h\:s5, .ctx\:miniMarquee .h\:s5 {
height: 40rem;
}

.ctx\:marqueeWide.h\:s8, .ctx\:marqueeWide .h\:s8 {
height: 60rem;
}

.ctx\:marqueeWide.font\:h3, .ctx\:marqueeWide .font\:h3 {
font-size: 3rem;
}

.ctx\:navigationDesk.row\:y-center\:x-between, .ctx\:navigationDesk .row\:y-center\:x-between {
display:flex;
flex-direction:row;
align-items: center;
justify-content: space-between;
}

.ctx\:mobileButton.invisible, .ctx\:mobileButton .invisible {
visibility: hidden;
}

.ctx\:navigationHero.row\:y-center\:x-between, .ctx\:navigationHero .row\:y-center\:x-between {
display:flex;
flex-direction:row;
align-items: center;
justify-content: space-between;
}

.h\:s8,  .h\:s8 {
height: 60rem;
}

.font\:h6,  .font\:h6 {
font-size: 1.125rem;
}

.ctx\:quoteAlt.pd-y\:c2, .ctx\:quoteAlt .pd-y\:c2 {
padding-top: 4.5rem;
padding-bottom: 4.5rem;
}

.ctx\:largeSpaceCollapse.pd-y\:0, .ctx\:largeSpaceCollapse .pd-y\:0 {
padding-top: 0;
padding-bottom: 0;
}

.ctx\:largeSpaceCollapse.h\:c9, .ctx\:largeSpaceCollapse .h\:c9 {
height: 9rem;
}

.ctx\:largeSpaceNo.pd-y\:0, .ctx\:largeSpaceNo .pd-y\:0 {
padding-top: 0;
padding-bottom: 0;
}

.ctx\:largeSpaceNo.h\:c9, .ctx\:largeSpaceNo .h\:c9 {
height: 9rem;
}

.ctx\:mediumSpaceCollapse.pd-y\:c2, .ctx\:mediumSpaceCollapse .pd-y\:c2 {
padding-top: 4.5rem;
padding-bottom: 4.5rem;
}

.ctx\:mediumSpaceNo.pd-y\:c2, .ctx\:mediumSpaceNo .pd-y\:c2 {
padding-top: 4.5rem;
padding-bottom: 4.5rem;
}

.ctx\:smallSpaceCollapse.pd-y\:d8, .ctx\:smallSpaceCollapse .pd-y\:d8 {
padding-top: 2rem;
padding-bottom: 2rem;
}

.ctx\:Marquee.h\:s6, .ctx\:Marquee .h\:s6 {
height: 48rem;
}

.ctx\:quote.pd-y\:c2, .ctx\:quote .pd-y\:c2 {
padding-top: 4.5rem;
padding-bottom: 4.5rem;
}

.ctx\:blogPage.block, .ctx\:blogPage .block {
display: block;
}

.ctx\:blogPage.h\:0, .ctx\:blogPage .h\:0 {
height: 0;
}

.ctx\:blogPage.w\:full, .ctx\:blogPage .w\:full {
width: 100%;
}

.ctx\:blogPage.sticky, .ctx\:blogPage .sticky {
position: sticky;
}

.ctx\:blogPage.top\:d8, .ctx\:blogPage .top\:d8 {
top: 2rem;
}

}


/* Regular (400) */
@font-face {
    font-family: 'Playfair';
    src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  /* Regular (400) */
@font-face {
    font-family: 'Caviar';
    src: url('/fonts/CaviarDreams.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Bold (700) */
@font-face {
    font-family: 'Caviar';
    src: url('/fonts/CaviarDreams_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Caviar';
    src: url('/fonts/CaviarDreams_Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Bold Italic */
@font-face {
    font-family: 'Caviar';
    src: url('/fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Quickpen */
@font-face {
    font-family: 'Quickpen';
    src: url('/fonts/Quickpen.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Open Sans */
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}




.-circle {
right:-6.75rem;
bottom:43%;
border-radius:100%;
}

@media (max-width: 1024px) {
  .-circle {
    right:-3.75rem;
    bottom:32%;
  }
}


/* Fade in over 7s, stay 3s, then fade out */
.fade-in-hold-out {
  opacity: 0;
  animation: fadeInHoldOut 17s ease-in-out forwards; /* 7 + 3 + 7 = 17 */
}

@keyframes fadeInHoldOut {
  0%      { opacity: 0; }
  41.176% { opacity: 1; } /* 7 / 17 */
  58.824% { opacity: 1; } /* (7 + 3) / 17 */
  100%    { opacity: 0; }
}

/* Respect reduced motion */
@media (prefers-reduced-motion: reduce) {
  .fade-in-hold-out {
    opacity: 1;
    animation: none;
  }
}

.-shadowtext {
  text-shadow: 0px 2px 8px #2e2e2e;
}

.-shadowimg {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.-shadowimg2 {
  box-shadow:
  inset 0  1px  0  rgba(255,255,255,.22),
  inset 0  10px 22px rgba(0,0,0,.18),
  inset 0  28px 60px rgba(0,0,0,.35),
  inset 0 -18px 38px rgba(0,0,0,.25);
}
 

.masonry {
  width: 100%;
  --cols: 3;     /* JS sets 1-3 dynamically */
  --gap: 16px;   /* adjust if you want */
}

.masonry-sizer,
.masonry-item {
  margin-bottom:var(--gap) !important;
  width: calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
}

.masonry-item {
  margin: 0;
}

.masonry-img {
  display: block;
  width: 100%;
  height: auto;
}

/* Animate native details/summary without changing markup */
.gallery-drawer > div {
  display: block;
  overflow: hidden;
  height: auto;
  transition: height 280ms ease;
}

.gallery-drawer:not([open]) > div {
  height: 0;
}


.glide__slides {
  overflow:visible !important;
  overflow-y: visible !important;
  overflow-x: hidden !important;
}

.glide__track {
  overflow:visible !important;
  overflow-y: visible !important;
  overflow-x: hidden !important;
}