{% set globalContent = craft.app.globals.getSetByHandle('globalContent') %}

{% if globalContent %}
  <p class="ctx:announce hidden /lg/ pd-y:d8 row:x-center:y-center bg-color:black text:white font:sans:regular ctx:end">
    {{ globalContent.announcementCopy }}
  </p>

  <p class = "contain row:y-center:x-start bg-color:black pd-t:d7 pd-b:d6 font:h6:fancy:bold text:white /lg/ hidden">
    Poured Out Art
  </p>
{% endif %} 