{% set globalContent = craft.app.globals.getSetByHandle('globalContent') %}

{% if globalContent %}
  <p class="hidden /lg/pd-y:d8 row:x-center:y-center bg-color:black text:white font:sans:regular">
    {{ globalContent.announcementCopy }}
  </p>
{% endif %}