<div class="ctx:aside contain w:full col:x-start:y-end /lg/ grid:cols-5-fr:rows-1:gap-d12">
        
    <div class = "h:full bd:round-d6 row:x-start:y-start w:full /lg/ col-spans:from-1:to-3"> 
      <div class="w:full row:x-center:y-center mg-b:d6 /lg/ mg-b:0">
          <div class="w:full h:d0 bg-color:divide bd:round-d6 /lg/ w:c6"></div>
          <h2 class = "font:h4:medium:fancy text:gold format:no-wrap pd-x:d4">Behind The Name & Artist</h2>
          <div class="w:full h:d0 bg-color:divide bd:round-d6"></div>
      </div>
    </div>

    <div class="bd:round-d6 col:y-between:x-end /lg/ col-spans:from-3:to-6"> 
        <p class="block font:fancy:base:regular:wide text:grey:snug:blog mg-b:d4 /lg/ font:h6">
         What would you do if everything you thought you knew - about your story, your future, yourself - changed in an instant? In 2021, an unthinkable tragedy changed my life forever. Ever since, I've been on a journey, discovering the answer to a question I never imagined being asked: What is ‘starting over’? This is more than just someone’s artwork; this is a truth and an answer. Hi, I'm Jessica. This is my heart - Poured Out.
        </p>
         <p class="block font:fancy:base:regular:wide text:grey:snug:blog mg-b:d4 /lg/ font:h6">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <a href="#" class="block font:fancy:base:light:wide text:grey:snug:blog mg-b:d4 /lg/ font:h6 ctx:end">Read More</a>
      </div>

</div>
