<div class="ctx:billboardSplit contain w:full col:x-start:y-end /lg/ grid:cols-5-fr:rows-1:gap-d12">
        
    <div class = "h:full bd:round-d6 row:x-start:y-end w:full /lg/ col-spans:from-1:to-3"> 
   <h1 class="font:h3:fancy text:none">This Is My Heart</h1>
    </div>

    <div class="bd:round-d6 col:y-end:x-end h:full /lg/ col-spans:from-3:to-6"> 
        <p class="block font:fancy:base:regular:wide text:grey:snug:blog /lg/ font:h6 ctx:end">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

</div>
