<div class="ctx:billboardSplit contain w:full col:x-start:y-end /lg/ grid:cols-5-fr:rows-1:gap-d12">
        
    <div class = "h:full bd:round-d6 row:x-start:y-start w:full /lg/ col-spans:from-1:to-3"> 
   <h1 class="font:h2:fancy">Poured Out</h1>
    </div>

    <div class="bd:round-d6 col:y-between:x-end /lg/ col-spans:from-3:to-6"> 
        <p class="block font:fancy:base:regular:wide text:grey:snug:blog mg-b:d4 /lg/ font:h6 ctx:end">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

</div>
