<section class = "ctx:blogsColumn events:auto pd-y:c10">

    <div class = "contain col h:auto /lg/ row">


       <div>
        <h2 class = "font:fancy:h3:bold text:darkgrey:relaxed"><span class = "font:fancy:h3:bold text:lightgrey ctx:end">My Journal</span><br>The Latest From Poured Out Art</h2>
       </div>

        <div class = "col w:full">

            <div class = "ctx:listing1 row:y-center pd-y:d10 /lg/ h:auto ctx:end">
                
        
                <div>
                    <h2 class = "text:left:spacious:darkgrey:brief font:fancy:h5:bold mg-b:d4 mg-t:d8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</h2>

                    <p class = "text:left:spacious:grey:blog  font:regular:sans:h6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin facilisis vulputate. Aliquam sed libero leo. Curabitur vitae sollicitudin enim. Vivamus tempus est neque, eu rhoncus lectus scelerisque in. Sed et quam a augue sollicitudin ultrices. 
                    </p>
                </div>

                <div class = "-shadowimg child:grow aspect:landscape mg-l:d12" style = "background-image:url('https://placehold.co/600x400?text=Lorem');background-size:cover;background-position:center">
                </div>

            </div>
 

            <div class = "ctx:listing2 row:y-center pd-y:d10 /lg/ h:auto ctx:end">
                
        
                <div>
                    <h2 class = "text:left:spacious:darkgrey:brief font:fancy:h5:bold mg-b:d4 mg-t:d8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</h2>

                    <p class = "text:left:spacious:grey:blog  font:regular:sans:h6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin facilisis vulputate. Aliquam sed libero leo. Curabitur vitae sollicitudin enim. Vivamus tempus est neque, eu rhoncus lectus scelerisque in. Sed et quam a augue sollicitudin ultrices. 
                    </p>
                </div>

                <div class = "-shadowimg child:grow aspect:landscape mg-l:d12" style = "background-image:url('https://placehold.co/600x400?text=Lorem');background-size:cover;background-position:center">
                </div>

            </div>
 

            <div class = "ctx:listing3 row:y-center pd-y:d10 /lg/ h:auto ctx:end">
                
        
                <div>
                    <h2 class = "text:left:spacious:darkgrey:brief font:fancy:h5:bold mg-b:d4 mg-t:d8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</h2>

                    <p class = "text:left:spacious:grey:blog  font:regular:sans:h6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin facilisis vulputate. Aliquam sed libero leo. Curabitur vitae sollicitudin enim. Vivamus tempus est neque, eu rhoncus lectus scelerisque in. Sed et quam a augue sollicitudin ultrices. 
                    </p>
                </div>

                <div class = "-shadowimg child:grow aspect:landscape mg-l:d12" style = "background-image:url('https://placehold.co/600x400?text=Lorem');background-size:cover;background-position:center">
                </div>

            </div>


        </div>



    </div>

</section>  