
<section class = "contain events:auto">

    <div class = "col gap:d4 /lg/ grid:gap-d4:rows-2:cols-4-fr h:s6">

        <div class = "ctx:editorialColumn1 bg-color:grey h:s1 /lg/ h:auto col-spans:from-1:to-3 row-spans:from-1:to-3 ctx:end">

        </div>



        <div class = "ctx:editorialColumn2 h:s4 /lg/ h:auto col-spans:from-3:to-4 row-spans:from-1:to-3 col gap:d4">
            <div class="bg-color:gold child:grow"></div>
            <div class="bg-color:gold child:grow ctx:end"></div>
        </div>



        <div class = "ctx:editorialColumn3 h:s4 /lg/ h:auto col-spans:from-4:to-5 row-spans:from-1:to-3 col gap:d4"> 
            <div class="bg-color:gold child:grow"></div>
            <div class="relative z:0.0 bg-color:black row:x-center:y-center h:c4 ctx:end">
            <h1 class="font:fancy:bold:h5 relative text:white:hug /lg/ font:h4 z:2">
                Visit The Gallery
            </h1>
            <canvas class="-fluid absolute z:1 top:0 left:0 w:full h:full ctx:end"></canvas>
            </div>
        </div>

    </div>

</section>