<section class = "bg-color:black pd-y:c8">
<p class="pd-y:d10 bg-attr:cover" style="background-image:url('https://www.dropbox.com/s/pth1ib9i03asvtl/FULL_IMG_2258.jpg?raw=1')"></p>
    <div class = "contain col gap:d4 /lg/ grid:gap-d4:rows-2:cols-3-fr h:s6">
          <div class = "ctx:editorialColumns1 h:s1 /lg/ h:auto col-spans:from-1:to-2 row-spans:from-1:to-3 col gap:d4">
            <div>
            <p class = "font:fancy:h3 text:white:hug">Painting Is Easy When You Don't Know How</p>
            <p class = "text:white font:h6 mg-t:d4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="bg-color:grey child:grow ctx:end"></div>
        </div>



        <div class = "ctx:editorialColumns2 h:s4 /lg/ h:auto col-spans:from-2:to-3 row-spans:from-1:to-3 col gap:d4">
            <div class="bg-color:grey child:grow ctx:end"></div>
        </div>



        <div class = "ctx:editorialColumns3 h:s4 /lg/ h:auto col-spans:from-3:to-4 row-spans:from-1:to-3 col gap:d4"> 
            <div class="bg-color:grey child:grow"></div>
            <div>
             <p class = "text:white font:h6 mg-b:d4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             <p class = "text:white font:h6 ctx:end">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

    </div>
<p class="pd-y:d10 bg-attr:cover" style="background-image:url('https://www.dropbox.com/s/pth1ib9i03asvtl/FULL_IMG_2258.jpg?raw=1')"></p>
</section>