<div class="contain mg-y:c1">
    {% if block.title %}
    <p class = "font:h3:fancy text:white mg-b:d4">{{ block.title }}</p>
    {% endif %}

    {% if block.copy %}
    <p class = "font:h6:cursive text:white">{{ block.copy }}</p>
    {% endif %}
</div>
