{# <div class="contain mg-y:c1 col:x-center:y-center /md/ row:x-between:y-center">
    {% if block.title %}
    <h2 class = "font:h3:fancy text:black mg-b:d4">{{ block.title }}</h2>
    {% endif %}

    {% if block.copy %}
    <p class = "font:h6:cursive text:black ">{{ block.copy }}</p>
    {% endif %}
</div> #}
