<div class = "ctx:footer">

    <div class="contain relative z:0 w:full h:s3 bg-color:black bg-attr:no-repeat:cover:center col:x-center:y-center"> 



        <div class = "w:full pd-b:d12 col:x-start:y-start bd-b:solid:width-d0:darkgrey /lg/ row:x-between:y-end">

            <h1 class="text:darkgrey:normal font:fancy:h3">The Art Of<br>Jessica Ellington</h1>


            <div class = "row:y-center gap:d4 mg-t:d10 text:black font:sans:semibold /lg/ mg-t:0 gap:d10">
                    <p class = "text:darkgrey font:h5"><i class="fa-brands fa-square-facebook"></i></p>
                    <p class = "text:darkgrey font:h5"><i class="fa-brands fa-square-instagram"></i></p>
            </div>

        </div>
        

    </div>

    <div class = "w:full bg-color:jetblack pd-y:d8 row:x-center:y-center">
        <p class="text:black font:sans:semibold ctx:end">© 2025 Jessica Ellington. All rights reserved.</p>
    </div>

</div>
  

 