 
 <div class = "h:hScreen relative z:0 col:x-center:y-center">
    <canvas class="absolute z:1 top:0 -fluid w:full h:full">
    </canvas>
    <h1 class="z:2 font:fancy:h2 text:white fade-in-hold-out pd-t:d8">Are You Ready?</h1> 
 </div>    