<header class="contain ctx:grandMarquee events:auto">
    <div class="-boldshadow relative z:0.0 contain w:full h:s3 bg-attr:no-repeat:cover:center bg-color:grey row:x-center:y-center /lg/ h:s7" style="background-image:url('')"> 
        {# The canvas and h1 should be SIBLINGS inside a positioning container #}
        
        <h1 class="font:fancy:bold:h5 text:white:hug /lg/ font:h2 z:2">
            From We To Me
        </h1>
        
        <canvas id="MarqueeCanvas" class="absolute z:1 top:0 left:0 w:full h:full ctx:end"></canvas>
    </div>
</header>