<header class = "ctx:grandMarquee contain">
    <div class="w:full h:s3 bg-attr:no-repeat:cover:center bg-color:grey row:x-center:y-center /lg/ h:s7" style="background-image:url('')"> 
       
              <h1 class="font:fancy:bold:h5 text:white:hug /lg/ font:h2 ctx:end">
               From We To Me
              </h1>
          
    </div>
</header>