<header class="ctx:grandMarquee events:auto">



    <div class="relative z:0 w:full h:s3 bg-attr:no-repeat:cover:center row:x-center:y-center /lg/ h:s8"> 
      
        
        <canvas class="-fluid top:0 z:2 w:full h:full ctx:end">
        </canvas>
 
        <div class = "absolute z:5 w:full h:full row:x-center:y-center pd:c2">
            <div class = "w:full h:full bd:solid:width-d0:gold95 col:x-center:y-center"> 
                <h1 class="font:fancy:thin:h3 text:white:relaxed:center z:3">
                    “I am still far from being what<br>
                    I want to be, but with God's<br>
                    help I shall succeed.” 
                </h1>

                 <h2 class="font:fancy:bold:h6 text:white:hug:center mg-t:d8 z:3">
                  Vincent Van Gogh
                </h2>
                
            </div>  
        </div>
        
    </div>

 


</header>