<header class="ctx:grandMarquee events:auto">
    <div class="relative z:0.0 contain w:full h:s3 bg-attr:no-repeat:cover:center bg-color:lightgrey row:x-center:y-center /lg/ h:s7" style="background-image:url('')"> 
      
        
        <h1 class="font:fancy:bold:h5 text:grey:hug pd-b:c9 /lg/ font:h5 z:1">
            Paint Goes Here!
        </h1>
        <h1 class="absolute font:cursive:bold:h5 text:white:hug /lg/ font:h4 z:3">
            The Art Of Jessica Ellington
        </h1>
        <canvas class="-fluid absolute z:2 top:0 left:0 w:full h:full ctx:end"></canvas>
        
    </div>
</header>