<header class="ctx:marqueeWide relative events:auto">


    <div class="relative z:0 w:full h:s5 bg-attr:no-repeat:cover:center row:x-center:y-center /lg/ h:s8"> 
      
        
        <canvas class="-fluid top:0 z:2 w:full h:full">
        </canvas>
 
        <div class = "absolute z:5 w:full h:full row:x-center:y-center pd:c2">
            <div class = "w:full h:full col:x-center:y-center"> 
                <h1 class="font:fancy:thin:h5 text:white:relaxed:center z:3 /lg/ font:h3">
                    “I am still far from being what<br>
                    I want to be, but with God's<br>
                    help I shall succeed.” 
                </h1>

                 <h2 class="font:fancy:bold:base text:white:hug:center mg-t:d8 z:3 /lg/ font:h6 ctx:end">
                  Vincent Van Gogh
                </h2>
                
            </div>  
        </div>
        
    </div>

 
 

</header>