<header class="ctx:marqueeWide relative events:auto bd-b:solid:width-d0:gold bd-t:solid:width-d0:gold">


    <div class="-shadowimg2 relative z:0 w:full h:s5 bg-attr:no-repeat:cover:center row:x-center:y-center /lg/ h:s8"> 
      
        
        <canvas class="-fluid top:0 z:2 w:full h:full events:auto">
        </canvas>
 
        <div class = "absolute z:5 w:full h:full row:x-center:y-center pd:c2 events:none">
            <div class = "w:full h:full col:x-center:y-center"> 
                <h1 class="font:fancy:thin:h4 text:white:relaxed:center -shadowtext z:3 text:brief /lg/ font:h3">
                   {{block.heading}}
                </h1>

                 <h2 class="font:fancy:bold:h6 text:white:hug:center mg-t:d8 -shadowtext z:3 ctx:end">
                  {{block.subheading}}
                </h2>
                
            </div>  
        </div>
        
    </div>

  
 

</header>