<header class="contain ctx:marquee events:auto">



    <div class="relative z:0 w:full h:s3 bg-attr:no-repeat:cover:center row:x-center:y-center /lg/ h:s6"> 
      
        
        <canvas class="-fluid top:0 z:2 w:full h:full ctx:end bd:round-d4">
        </canvas>
 
        <div class = "absolute z:5 w:full h:full row:x-center:y-center pd:d10">
            <div class = "w:full h:full bd:solid:width-d0:gold95 col:x-center:y-center"> 
                <div class = "mg-t:d6 /lg/ mg-t:d10">
                    <h1 class="font:fancy:thin:h5 text:white:relaxed:center z:3 /lg/ font:h3">
                        “I am still far from being what
                        I want to be, but with God's
                        help I shall succeed.” 
                    </h1>

                    <h2 class="font:fancy:bold:base text:white:hug:center mg-t:d8 z:3 /lg/ font:h6 ctx:end">
                    Vincent Van Gogh
                    </h2>
                </div>
                
            </div>  
        </div>
        
    </div>

 


</header>