<header class="contain ctx:miniMarquee events:auto">



    <div class="-shadowimg -bg-drift relative z:0 w:full h:s6 bg-color:gold bg-attr:no-repeat:cover:center row:x-center:y-center /lg/ h:s4 ctx:end" style = "background-image:url('{{block.firstImage.one().url}}');background-size:cover;background-position:center"> 
      
        
    </div>

 


</header>