<div> 
    <nav class = "contain w:full row:y-center:x-between bd-t:solid:width-d0:gold50 bd-b:solid:width-d0:gold50 pd-y:d7">   

        <div class = "row:y-center gap:c2">
            <p class = "font:h5:fancy:bold text:black">Poured Out</p>
            <p class = "text:lightgrey font:sans">The Art Of<br>Jessica Ellington</p>
        </div>

        <div class = "row:y-center gap:c2 text:black font:sans:semibold">
            <p>Shop</p>
            <p>|</p>
            <p>About</p>
            <p>Gallery</p>
            <p>Blog</p> 
            <p class = "text:gold50 font:h5"><i class="fa-brands fa-square-facebook"></i></p>
            <p class = "text:gold50 font:h5"><i class="fa-brands fa-square-instagram"></i></p>
        </div>
    </nav> 
</div>   