<div class = "contain">


    <nav class = "ctx:navigationDesk hidden w:full bd-t:solid:width-d0:gold50 bd-b:solid:width-d0:gold50 pd-y:d7 /lg/ row:y-center:x-between ctx:end">   
        <div class = "row:y-center gap:c2">
            <p class = "font:h4:fancy:bold text:black">Poured Out</p>
            <p class = "text:lightgrey font:sans">The Art Of<br>Jessica Ellington</p>
        </div>

        <div class = "row:y-center gap:c2 text:black font:sans:semibold">
            <p>Shop</p>
            <p>|</p>
            <p>About</p>
            <p>Gallery</p>
            <p>Blog</p> 
            <p class = "text:gold50 font:h5"><i class="fa-brands fa-square-facebook"></i></p>
            <p class = "text:gold50 font:h5 ctx:end"><i class="fa-brands fa-square-instagram ctx:end"></i></p>
        </div>
    </nav> 



    <div id = "openMenu" class = "ctx:mobileButton events:auto visible z:1000 absolute top:0 right:0 bd:roundbl-s6 w:c1 h:c1 bg-color:gold row:x-center:y-center pd-b:d2 pd-l:d3 /lg/ invisible ctx:end"> 
    <i class="fa-solid fa-bars text:white"></i> 
    </div>

    {# <div class = "invisible h:hScreen w:wScreen bg-color:black"></div> #}

    {# <nav class = "ctx:navigationMobile fixed z:100 top:0 left:0 visible w:full h:full bg-color:gold col:y-center:x-between bd-t:solid:width-d0:gold50 bd-b:solid:width-d0:gold50 pd-y:d7 /lg/ invisible ctx:end">   
        
        <div class = "col:y-center:x-center gap:c2">
            <p class = "font:h4:fancy:bold text:black">Poured Out</p>
            <p class = "text:lightgrey font:sans">The Art Of<br>Jessica Ellington</p>
        </div>

        <div class = "col:y-center:x-center gap:d8 text:black font:sans:semibold">
            <p>Shop</p>
            <p>About</p>
            <p>Gallery</p>
            <p>Blog</p> 
            <div class = "row:y-center:x-center">
                <p class = "text:gold50 font:h5"><i class="fa-brands fa-square-facebook"></i></p>
                <p class = "text:gold50 font:h5 ctx:end"><i class="fa-brands fa-square-instagram ctx:end"></i></p>
            </div>
        </div>

    </nav>  #}



</div>    