<div class = "contain">


    <nav class = "ctx:navigationDesk hidden w:full bd-t:solid:width-d0:gold50 bd-b:solid:width-d0:gold50 pd-y:d7 /lg/ row:y-center:x-between">   
        <div class = "row:y-center gap:c2">
            <p class = "font:h4:fancy:bold text:black">Poured Out</p>
            <p class = "text:lightgrey font:sans">The Art Of<br>Jessica Ellington</p>
        </div>

        <div class = "row:y-center gap:c2 text:black font:sans:semibold">
            <p>Shop</p>
            <p>|</p>
            <p>About</p>
            <p>Gallery</p>
            <p>Blog</p> 
            <p class = "text:gold50 font:h5"><i class="fa-brands fa-square-facebook"></i></p>
            <p class = "text:gold50 font:h5"><i class="fa-brands fa-square-instagram ctx:end"></i></p>
        </div>
    </nav> 


 
    <div id = "openMenu" class = "ctx:mobileButton events:auto visible z:1000 absolute top:0 right:0 bd:roundbl-s6 w:c1 h:c1 bg-color:gold row:x-center:y-center pd-b:d2 pd-l:d3 /lg/ invisible ctx:end"> 
    <i id = "openButton" class="fa-solid fa-bars text:white"></i> 
        <div id = "mobileLinks" class = "hidden w:full h:full bg-color:gold col:y-center:x-center gap:d8">
            <i id = "closeButton" class="events:auto absolute z:10000 top:0 right:0 fa-solid fa-xmark text:white mg:d4"></i> 
            <h2 class = "text:white font:sans:semibold">Shop</h2>
            <h2 class = "text:white font:sans:semibold">About</h2>
            <h2 class = "text:white font:sans:semibold">Gallery</h2> 
            <h2 class = "text:white font:sans:semibold">Blog</h2>
        </div>
    </div>

{# <div class = "ctx:mobileButton events:auto visible z:1000 absolute top:0 right:0 w:wScreen h:hScreen bg-color:black row:x-center:y-center /lg/ invisible ctx:end"></div> #}



</div>    