<header class="ctx:grandMarquee relative events:auto">


    <div class = "contain z:1 absolute top:0 w:full">
        <nav class = "w:full mg-t:c1 row:y-center:x-between bd-t:solid:width-d0:gold50 bd-b:solid:width-d0:gold50 pd-y:d7">   

            <div class = "row:y-center gap:c2">
                <p class = "font:h4:fancy:bold text:white">Poured Out</p>
                <p class = "text:lightgrey font:sans">The Art Of<br>Jessica Ellington</p> 
            </div>

            <div class = "row:y-center gap:c2 text:white font:sans:semibold">
                <p>Shop</p>
                <p class = "text:gold50">|</p>
                <p>About</p>
                <p>Gallery</p>
                <p>Blog</p> 
                <p class = "text:white50 font:h5"><i class="fa-brands fa-square-facebook"></i></p>
                <p class = "text:white50 font:h5"><i class="fa-brands fa-square-instagram"></i></p>
            </div>
        </nav> 
    </div>
 


 

    <div class="relative z:0 w:full h:s5 bg-attr:no-repeat:cover:center row:x-center:y-center /lg/ h:s8"> 
      
        
        <canvas class="-fluid top:0 z:2 w:full h:full ctx:end">
        </canvas>
 
        <div class = "absolute z:5 w:full h:full row:x-center:y-center pd:c2">
            <div class = "w:full h:full col:x-center:y-center"> 
                <h1 class="font:fancy:thin:h3 text:white:relaxed:center z:3">
                    “I am still far from being what<br>
                    I want to be, but with God's<br>
                    help I shall succeed.” 
                </h1>

                 <h2 class="font:fancy:bold:h6 text:white:hug:center mg-t:d8 z:3">
                  Vincent Van Gogh
                </h2>
                
            </div>  
        </div>
        
    </div>

 


</header>