
  <div class="contain row:x-end">
          <div class = "text:essay font:regular:sans:h6">

<div class = "pd-y:c2 w:full">
    
    <div class = "block bd-l:solid:width-d1:gold pd-l:c1">

        
        <p class = "font:sans:regular:h5 mg-b:d6 text:black">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor"
        </p>
        
        <p class = "font:sans:semibold:h6 text:black mg-b:d2">
        Jessica Ellington
        </p>
 
        <p class = "font:sans:regular:h6 text:grey">
        Artist & Author
        </p>


    </div>
</div>


</div>
</div>