
<div class="contain ctx:quoteAlt row:x-end">
    <div class = "text:essay font:regular:sans:h6">

        <div class = "pd-y:c1 w:full /lg/ pd-y:c2"> 
            
            <div class = "block bd-l:solid:width-d1:gold pd-l:d10">

                
                <div class = "font:sans:regular:h5 mg-b:d6 text:black">
                {{block.quote}}
                </div>
                
                <div class = "font:sans:semibold:h6 text:black mg-b:d2">
                {{block.authorsName}}
                </div>
        
                <div class = "font:sans:regular:h6 text:grey ctx:end">
                {{block.authorsTitle}}
                </div>


            </div>
        </div>


    </div>
</div>