



{% if block.collapseMobile %}
<p class="ctx:largeSpaceCollapse pd-y:d0 /lg/ pd-y:0 h:c9 ctx:end"></p>
{% else %}
<p class="ctx:largeSpaceNo pd-y:c2 h:auto /lg/ pd-y:0 h:c9 ctx:end"></p>
{% endif %}