<header class="ctx:Marquee events:auto mg-b:c6 bd:round-d2 -shadowimg">



    <div class="relative z:0 w:full h:s3 bg-attr:no-repeat:cover:center row:x-center:y-center bd:round-d2 /lg/ h:s6"> 
      
        
        <canvas class="-fluid top:0 z:2 w:full h:full ctx:end bd:round-d2">
        </canvas>
 
        <div class = "absolute z:5 w:full h:full row:x-center:y-center pd:d10">
            <div class = "w:full h:full bd:solid:width-d0:gold95 col:x-center:y-center"> 
                 <h1 class="font:fancy:thin:h5 text:white:relaxed:center -shadowtext z:3 /lg/ font:h3">
                    {{block.heading}}
                </h1>

                 <h2 class="font:fancy:bold:base text:white:hug:center -shadowtext mg-t:d8 z:3 /lg/ font:h6 ctx:end">
                  {{block.subheading}}
                </h2>
                
            </div>  
        </div>
        
    </div>

 


</header>