<div class = "pd-y:d6">
    {% set img = block.blogimage.one() %}
    <div class = "w:full text:full font:h6 aspect:square bd:round-d2 -shadowimg" style = "background-image:url('{{img.url}}');background-size:cover;background-position:center">

    </div>
</div>