<div class = "pd-y:d6">
    <div class = "w:full text:full font:h6 aspect:landscape" style = "background-image:url('https://placehold.co/600x400?text=Hello+World');background-size:cover;background-position:center">

    </div>
</div>