<div class = "pd-y:d6">
    <div class = "text:full:left:loose:lightgrey font:regular:sans:h6 bd-b:solid:width-d0:gold25 pd-b:d12">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div> 