<div class = "pd-y:d8">
    
    <div class = "w:full bd-l:solid:width-d1:gold pd-l:c1">

        
        <p class = "font:sans:regular:h5 mg-b:d6 text:black:brief">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor"
        </p>
        
        <p class = "font:sans:semibold text:black">
        Author Name
        </p>

        <p class = "font:sans:regular text:grey">
        Title
        </p>


    </div>
</div>