<div class = "ctx:quote pd-y:c1 w:full /lg/ pd-y:c2 "> 
    
    <div class = "block bd-l:solid:width-d1:gold pd-l:d10">

        
        <p class = "font:sans:regular:h5 mg-b:d6 text:black">
        "{{block.quote}}"
        </p>
        
        <p class = "font:sans:semibold:h6 text:black mg-b:d2">
        {{block.authorName}}
        </p>
 
        <p class = "font:sans:regular:h6 text:grey ctx:end">
        {{block.authorTitle}}
        </p>


    </div>
</div>