
<!DOCTYPE html>
<html lang="en-US">
<head>
   {{ craft.vite.script('src/js/app.js',false) }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Poured Out Art</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="https://kit.fontawesome.com/ac65d94ae4.js" crossorigin="anonymous"></script>
  
</head>

<body class="ctx:blogPage relative">


<canvas class = "absolute w:full h:full top:0 left:0 z:0.0 opacity:0.95"></canvas>

    <div class = "relative z:1 events:none">

        {% set img = entry.scrollingImage.one() %}

        {% include '/_blocks/announcements.twig' %}

        {% include '/_blocks/spaceSM.twig' %}

        {% include '/_blocks/navigation.twig' %}

        {% include '/_blocks/spaceMD.twig' %}

        {# Render only "blogMarquee" blocks outside the container #}
        {% for block in entry.blogBlocks.type('blogMarquee').all() %}
        <div class = "contain">
          {% include '_blogs/blogMarquee' with { block } %}
        </div>
        {% endfor %}

        {# Render all other blocks inside the original container structure #}
        <div class="contain row:x-center">
          <div class = "text:essay font:regular:sans:h6">
            {% block content %}
              {% for block in entry.blogBlocks.all() %}
                {% if block.type.handle != "blogMarquee" %}
                  {% include '_blogs/' ~ block.type.handle with { block } %}
                {% endif %}
              {% endfor %}
            {% endblock %}
          </div>
          



          <div class = "hidden /lg/ block h:0 w:full sticky top:d8">

              <div class = "row:x-center">
                  <div class = "w:s5 font:h6 aspect:square bd:round-d2 -shadowimg ctx:end" style = "background-image:url('{{ img.url }}');background-size:cover;background-position:center">

                  </div> 
              </div>

          </div> 



        </div>



     {% include '/_blocks/spaceLG.twig' %}
     {% include '/_blocks/spacePattern.twig' %}
     {% include '/_blocks/footer.twig' %}
    </div>

</body>
</html>
